[2013-04-26 09:47] maci0 opened #1 "mingw32 build: .dll files dont get built"

[2013-04-26 09:47] maci0 opened #2 "mingw32 build: icon.o doesnt get generated and linked into the executable"

[2013-04-26 09:49] maci0 opened #3 "2D ammo/weapon pickup icons"
I remember this being suggested but didn't find a ticket for it. Mostly for those who are barely meeting requirements and/or for competitive players :rolleyes:

[2013-04-26 09:49] maci0 opened #4 "add more things to construct.map"
add things like:

water pit jumppad doors stairs several ways to die switches with several triggers

that way it is easier to test changes to the gamecode and see the immediate effect

[2013-04-26 09:50] maci0 opened #5 "Add a splash effect for rain and entering/leaving water"
Add a water splash effect for when rain hits the ground, and for when players enter or leave a body of water.

[2013-04-26 09:51] maci0 opened #6 "Have ncurses-dev as requirement for if --without-client in ./configure"
Just an idea but I find that without ncurses, console output is hit-or-miss and there's no way to input commands into the console. Might be a good idea to have ncurses-dev as a requirement for server builds

[2013-04-26 10:03] maci0 opened #7 "Weapon banning"
Bans certain weapons from play. Any weapon banned will not spawn in map once map/server is reloaded and all ammo related to that weapon also does not spawn. Good for Rocket/Rail Arena and Freezetag railgun-only modes

[2013-04-26 10:05] maci0 opened #8 "Lithium-style grappling hook"
Title says it all. Have speed of hook and player hook speed variables to a server-side cvar (speed of which hook travels to wall and how fast player moves once grappled). Also server side cvar for enabling/disabling hook, default disabled

[2013-04-26 10:06] maci0 opened #9 "New game mode: Freezetag"
Classic freezetag mode

I liked Q3's implementation of the encasing ice when frozen, but would like it if the ice either melted or exploded without gibbing.

Static settings:

stand next to friendly frozen player (X amount of units away) for 3 seconds to thaw, thawed player respawns immediately

Tie into weapon banning/allowing to be able to have a unlimited railgun-only 1-hit freeze for instafree

[2013-04-26 10:06] maci0 opened #10 "New game mode: Duel"
dodsoN made a suggestion to have a Duel mode, whereupon you join the server, you either join into the game, are set in spectator mode, or in the queue. Two players duel until one loses (timelimit) and the next person in the queue joins in (no map change) and the loser goes to the back of the queue. If you do not join the queue, you are always spectating. To join the queue, type /join (or something

[2013-04-26 10:07] maci0 opened #11 "User home directory not working on NetRadiant on Windows"
Currently, in order for Radiant to find them, assets must reside in the root install folder. Instead, Radiant should honor our prefix setting:

quake2world/trunk/gtkradiant/games/q2w.game#L11

We need to work with divVerent to determine why this fails, because mappers can not insulate their works-in-progress from our Update utility as-is. This is very dangerous; people are losing maps, textures, s

[2013-04-26 10:07] maci0 opened #12 "BFG skin"
The BFG skin is .. not great. I think it was the first texture you ever made :)

[2013-04-26 10:08] maci0 opened #13 "Scoreboard Issues"
The scoreboard has a number of issues outstanding. This is a running list/catch all for them.

-spectators don't show up on the scoreboard unless in spectate and not chasing anyone -scoreboard doesn't show up if in spectate and chaseing someone -scoreboard contiminates client with game stats, #167 +scores command would allow this to be fixed

[2013-04-26 10:09] maci0 opened #14 "Game rules need controlling cvars"
The following list of game specific things should be broken out into cvars that allow the server operator to control settings. This is a more full list then #209. We may not want all of these
-g_respawn_protection - default 0 - protection from inital damage after respawning, the value is delay before damage
-g_rounds - already exists but very buggy and doesn't work right (ammo spawns, and what to

[2013-04-26 10:09] maci0 opened #15 "Marks don't follow moving objects"
Marks (like blast from rocket launcher/explosions/shots/burns), don't follow moving objects (like platforms). This leads to awkward burn marks in floating space, when the platform moves away.

The lift platform in torn is a good place to look at this

[2013-04-26 10:10] maci0 opened #16 "Lighting and texture alignment bugs"
Lighting and texture alignment, especially for non-axial surfaces, is not very reliable at all. This could have something to do with negative angle values?

Changed 15 months ago by jdolan

[code]

Downgrading to minor. There are only two instances of this on all of our maps (Aggressor and Fractures each have one -- both on similar sloped-ceiling brushes. It's possible to work around the problem b

[2013-04-26 10:11] maci0 opened #17 "Dynamic lights are not rotated correctly for bsp models"
Dynamic light sources are not rotated for rotating bsp models. A good example is the turbine / grinder on q2dm5.

[2013-04-26 10:12] maci0 opened #18 "Sexy loading screens"
The console-based loading screen is really dated and unattractive. We should have a pretty progress bar, centered, with a series of randomized background images. Users should be able to hit ESC to abort loading.

[2013-04-26 10:12] maci0 opened #19 "Voting needs limitations the server operator can control"
Need a way the server operator can control what things can be voted for. IE, a TDM server can be voted to ARENA, when the operator only wants to leave map voteing open. Not sure of an easy/general way to do this.

[2013-04-26 10:13] maci0 opened #20 "quemap needs an icon"
artwork plzkthx

[2013-04-26 10:14] maci0 opened #21 "make update.exe parse rsync output......"
..... and display neat progress bar and stuff

[2013-04-26 10:14] maci0 opened #22 "Move dynamic light source management to 1D textures"
[code]

[2013-04-26 10:15] maci0 opened #23 "Swap out Phong shading for vertex lighting"
Phong shading is difficult to do in software. We'd get much better looking results by simply calculating lighting values for each vertex (using interpolated normal vectors, which we have). We'd lose detailed shadows on these brushes, but right now they look decrepit so who cares?

This could be done without a map format change: lighting values for shaded vertices could be calculated at load time u

[2013-04-26 10:16] maci0 opened #24 "Adrenaline & quad times should be drawn on hud"
As the title says, get the info avalible

[2013-04-26 10:16] maci0 opened #25 "Scramble teams when roundlimit hits or map changes"
Enable/disable cvar for team scramble via rcon or console either between rounds (to scramble teams during obviously uneven scores?) or at the beginning of match before teams /ready up

something like

sv_teamscramble Inputting this command randomly switches team members on each team. Each player will either be a 0 or 1, if 0 then player stays on team, if 1 then player is forced on the other team.

[2013-04-26 10:17] maci0 opened #26 "allow to change physics in certain areas of a map"
this would be so much fun. for example: changing gravity for just one room

[2013-04-26 10:18] maci0 opened #27 "add exploding ammo boxes"
make ammo boxes explode simmilar to q3 alternativefire http://www.satgnu.net/files/quake3/alternatefire/ammo.html

[2013-04-26 10:18] maci0 opened #28 "Quake3-style doors"
Doors should open and close with a high speed, also doors should open when a projectile is incoming, much like in Quake3.

Changed 6 years ago by jdolan

[code]

Doors do support the "speed" key/value pair. The default speed is 100 if none is specified. Try 500 maybe? If you could attach a test .map file with a door, I'll work on getting projectiles recognized and allowed through.
Changed 6 years

[2013-04-26 10:19] maci0 opened #29 "Add cl_chathud that puts all chat in a seperate space in the HUD"
cl_chathud 1 will make all the chatter go into a seperate area in the HUD, for easier reading. Optionally, you could add: cl_chathudtime to set the number of seconds a message stays in the chathud cl_chathudlines to set the amount of lines the chathud uses

Here you can see cl_chathud 1 and cl_chathudlines 3 in action in AprQ2. In case you was wondering, the chathud is located in the lower-left co

[2013-04-26 10:19] maci0 opened #30 "Add protocol minor version, compare during client->server handshake"
The protocol version should have a minor revision as well as major. Upon challenge/connect, the server should transmit the full string. The client can then compare and issue a warning if a difference is found.

This is a "nice to have" before a general public release is made.

Changed 6 years ago by jdolan

[code]

Changed 4 years ago by jdolan

[code]

Changed 15 months ago by wickedshell

Can th

[2013-04-26 10:20] maci0 opened #31 "Add several new server commands"
kill - kills the specified client, special case "kill all" for bastard admins kick - extend kick to imply a 30m or so ban mute - mutes the specified client until they are unmuted

added private messaging in R1118: /tell <slot number> <message>

[2013-04-26 10:20] maci0 opened #32 "Add a handicap feature (q3a-style)"
The title says it all. Would be cool to have a handicap feature to allow people to play against others who are on a different skill level. I can't play some of my friends because it makes no sense dut to our differences in skill (match results are usually something like 30:0).

How handicap works: * each player has a handicap value that he can set in his config. It defaults to 100. * the weaker pl

[2013-04-26 10:21] maci0 opened #33 "Server should log kill locations (xyz), client should support loading and rendering them"
It would be incredibly useful to accumulate kill locations for each level, and allow designers/developers to load this information in the client to revise item placement and layout issues.

One option would be to include this information in the MySQL frags table; but a tool would be required to export the table data into a file format which the client could easily load for rendering the frags.

Id

[2013-04-26 10:21] maci0 opened #34 "Sprite functionality via materials/surface flags"
It would be nice to be able to get textures to behave like sprites using either the material definition or a surface flag. This could be useful for sfx like flares or background/small details.

An additional feature that would be nice to have a special sprite function that restricts the sprite's rotation to its longest axis, similar to what 'deformvertexes autosprite2' does in q3 . This is especia

[2013-04-26 10:22] maci0 opened #35 "Joystick support"
Add joystick support.

Changed 15 months ago by wickedshell

    owner changed from jdolan to wickedshell
    status changed from new to assigned

Changed 13 months ago by maci

do we really need joystick/gamepad support ???
Changed 13 months ago by wickedshell

Might be nice in the end. I'm not working on it till post 4/1 beta stuff though. (Or at least I'm not planning to).

[2013-04-26 10:22] maci0 opened #36 "Add a +scores command"
Some players prefer to hold down a key to see the scoreboard, and release the key to make it go away. I think we could accomplish this by adding a +score command in the game module.

[2013-04-26 10:23] maci0 opened #37 "Dust off and clean up MySQL support"
The game module has MySQL spaghetti code throughout it. Let's try to consolidate it, and make sure that it works and is documented correctly. We should also make sure we provide a valid schema / ddl to seed the database.

Changed 14 months ago by wickedshell

Is there an old schema sitting somewhere that I can use as a starting point, or should I be figuring it out purely from the code?
Changed 14

[2013-04-28 14:56] jdolan opened #38 "Massive memory leak in renderer"
The renderer in the experimental branch is hemorrhaging 200-400MB per map load. Most of the memory can be reclaimed / freed by `r_restart`. Valgrind confirms that we're not actually leaking memory (i.e. there are still valid pointers to it -- somewhere); we're just retaining more resources than we should. This is puzzling, because `z_size` reports that most maps use less than 50MB of memory in tot

[2013-04-28 14:59] jdolan opened #39 "Alias and +commands showing keynum and timestamp in console"
Some commands are not being interpreted correctly, and result in the client spewing what appears to be gibberish in `messagemode`. The gibberish is actually the keynum and the timestamp of their input. A simple test case for this is to bind any key to an alias beginning with `+`:

[code]

Hit TAB, watch yourself say `+score 9 120833` to the world.

[2013-04-28 15:04] #27 closed, assigned to nobody

[2013-04-28 15:06] #25 closed, assigned to nobody

[2013-04-28 15:10] #12 closed, assigned to nobody

[2013-04-29 04:34] jdolan opened #40 "rcon say truncates first word of message"

[2013-04-29 14:53] jdolan opened #41 "Move game-specific CVAR_INFOs to cgame."
Game-specific CVAR_INFO variables (e.g. color) should be moved to cgame.

[2013-04-29 22:02] #30 closed, assigned to jdolan

[2013-04-29 22:13] jdolan opened #42 "Ambient / loop sound stuttering"
There are some sound artifacts for loop / ambient sounds. The weather and misc_emit sounds on Torn Glory are adequate for reproducing this.

[2013-04-30 01:13] #42 closed, assigned to jdolan

[2013-04-30 11:16] jdolan opened #43 "Clang static analysis build on CI"
It'd be great if http://ci.quake2world.net included a manual build for Clang static analysis. I've run into issue producing this report from Clang on OS X, but maybe it's easier on Linux.

[2013-04-30 19:30] #38 closed, assigned to jdolan

[2013-04-30 21:41] jdolan opened #44 "Move the first n bytes of g_edict_t to an [opaque?] sv_edict_t."
It'd be nice if the game module couldn't hose up the server representation of each entity so easily. At the very least, for readability and maintainability, we should encapsulate the first fields of g_edict_t in an sv_edict_t.

[2013-04-30 21:46] jdolan opened #45 "Break pmove out of client and server and into game and cgame"
Moving pmove to game / cgame would allow mods to implement their own player movement code, ala Quake3. The most difficult part in doing this is moving or splitting up the client side prediction code.

[2013-05-01 21:10] #43 closed, assigned to maci0

[2013-05-01 21:18] WickedShell opened #46 "Allow client to do updating"
The client should be able to from a menu run the rsync update and pull all the update data. This would vastly improve user experience, and make it smoother.

Once this is done, it's worth considering compiling enough assets in (mostly a(the?) default font), so that a simple GUI saying "No game data, do you wish to update?" Could be displayed. That's probably a separate task issue though, just wher

[2013-05-02 03:08] #6 closed, assigned to jdolan

[2013-05-02 09:25] #1 closed, assigned to maci0

[2013-05-02 09:26] maci0 opened #47 "mingw32 build: configure summary incomplete"
configure summary is incomplete
see: http://ci.quake2world.net/job/quake2world-master-mingw32/lastBuild/console

[2013-05-02 09:27] maci0 opened #48 "mingw32 build: curses support broken"

[2013-05-02 11:40] #47 closed, assigned to nobody

[2013-05-02 12:27] jdolan opened #49 "Dedicated server bundle for Linux"
It'd be really nice to offer a dedicated server binary for Linux that includes all of the required libs and uses `LD_PRELOAD` or something to make it a universal, drop-and-go install. Maybe what we really want to do here is add some library discovery / bundling magic to the existing Linux build so that we can provide all of our Linux builds this same way. Currently, the Linux build assumes that us

[2013-05-02 19:03] maci0 opened #50 "mingw: running 'make rsync-data' deletes everything in `cwd`"
instead it should rsync to the target created by 'make install'

[2013-05-03 12:39] jdolan opened #51 "Add server-side visibility culling to make wall-hacking less useful"
The server should perform visibility checks on certain entity types when populating the packet entities for a given client. The current PVS check, while very fast, ends up sending clients information on entities they can't actually see, which opens the door for wall hacking.

The cleanest way to implement this would be with a SV_VIS_TRACE or something that is OR'ed onto g_edict_t.sv_flags. All cli

[2013-05-09 13:17] jdolan opened #52 "Wrap gi.Cvar / cgi.Cvar to include CVAR_GAME / CVAR_CGAME, remove all on unload"
The game and cgame's cvar instantiation should be wrapped to include a special flag so that all game / cgame cvars can be removed when the game module is unloaded. The same should be implemented for `gi.AddCommand` and `cgi.AddCommand` as well.

[2013-05-10 00:38] #44 closed, assigned to WickedShell

[2013-05-10 01:45] #36 closed, assigned to WickedShell

[2013-05-10 01:45] #39 closed, assigned to WickedShell

[2013-05-10 13:06] jdolan opened #53 "r_view.time should be uint32_t (millis) rather than floating point"
Storing time / deltas as floats is dangerous. As time values grow large, precision is lost. We've already fixed this in the game module. It's time to fix it in the renderer. Unfortunately, everything from dynamic lights to materials currently use floating point deltas. These will all need to be converted to use fixed-point integers.

[2013-05-10 13:08] jdolan opened #54 "Finish g_next_map or kill it"
Tada!

[2013-05-11 13:11] #50 closed, assigned to jdolan

[2013-05-11 13:12] #48 closed, assigned to maci0

[2013-05-11 14:01] #40 closed, assigned to WickedShell

[2013-05-11 14:05] #13 closed, assigned to jdolan

[2013-05-12 03:17] #52 closed, assigned to WickedShell

[2013-05-14 12:44] jdolan opened #55 "Whittle win32.c / win32.h down to the bare minimum"
Now that we're cross-compiling, I'm curious if there are parts of win32.c that we could lose. Specifically, I wonder if dlopen and friends can be dropped. Also, for anything that cannot be dropped, I'd like to consider moving these functions into sys.c with proper wrappers (e.g. Sys_GetProcAddress or something). Please let me know if you need a hand with this. And if you could, please try these ch

[2013-05-19 18:30] jdolan opened #56 "Linux crash on quit (S_FreeMusic)"
[code]
data=<optimized out>) at s_media.c:137
[code]
at main.c:202
[code]

[2013-06-30 02:26] #53 closed, assigned to jdolan

[2013-07-03 14:42] jdolan opened #57 "Merge in latest AntTweakBar release"
We're a couple minor releases behind with AntTweakBar. We should update to the latest.

[2013-07-03 14:48] #11 closed, assigned to jdolan

[2013-07-03 14:52] #26 closed, assigned to nobody

[2013-07-03 14:53] #22 closed, assigned to nobody

[2013-07-03 23:35] jdolan opened #58 "Underwater caustics"
There's a simple but not bad looking implementation of this in [quake2](/jdolan/quake2). We should borrow it.

[2013-07-04 18:51] jdolan opened #59 "The path_corner entity is missing"
func_train needs this to be complete. We can just port it from [quake2](/jdolan/quake2).

[2013-07-04 23:37] jdolan opened #60 "The func_door_rotating entity is missing"
Gehenna actually has a func_door_rotating in it; it's the oil drill thing outside. It's missing. We should port this back over from [quake2](/jdolan/quake2).

[2013-07-05 16:46] #60 closed, assigned to jdolan

[2013-07-05 16:47] #59 closed, assigned to jdolan

[2013-07-11 04:24] jdolan opened #61 "Jenkins compile scripts should use DESTDIR"
Hey @maci0, in looking through the build scripts, I noticed a lot of `--prefix=/some/user/build/artifact` type stuff. Those paths will end up being where Q2W looks for data at runtime, which is probably not what we want.

Instead, use the `DESTDIR` variable when issuing the `install` target:

[code]

Or something more like that.

[2013-07-11 12:04] #61 closed, assigned to maci0

[2013-07-11 12:27] jdolan opened #62 "Pmove sucks."
- Small prediction misses are common on jumping / landing. These do not happen in Q2, so something is off. Maybe `Pm_SnapInitial` or `Pm_SnapPosition` are incorrect.
- Jumping up stairs still results in too many blockages where the player's momentum is killed. Maybe an extra `Pm_StepSlideMove` is necessary on-landing or something?
- Would be cool if air acceleration ramped up with velocity. This w

[2013-07-11 18:08] #45 closed, assigned to jdolan

[2013-07-13 23:19] jdolan opened #63 "Make quemap more material-aware"
I think it'd make sense for things like SURF_LIGHT, SURF_ALPHATEST, etc.. to move into the material definitions, and to let q2wmap resolve them from there. For compatibility with older levels, and to make porting them easier, we could keep all of the existing functionality, and just combine anything set in the material definition with whatever is set on the surface. In fact, the logic would have t

[2013-08-01 18:14] #55 closed, assigned to maci0

[2013-09-29 09:13] fromtheinside opened #64 "(linux) crash on reading a demo"
No way to read a demo, i made a bt :
gdb) bt
#0  0x080751be in Cl_ParseFrame () at cl_entity.c:280
#1  0x080577e5 in Cl_ParseServerMessage () at cl_parse.c:415
#2  0x080561e1 in Cl_ReadPackets () at cl_main.c:451
#3  Cl_Frame (msec=1) at cl_main.c:621
#4  0x08054d80 in Frame (msec=1) at main.c:240
#5  main (argc=1, argv=0xbffff2d4) at main.c:301

(gdb)

[2013-09-30 13:59] jdolan opened #65 "GtkRadiant BSP monitoring via XML over TCP"
q2wmap should support GtkRadiant's BSP monitoring / feedback loop, which uses XML over TCP sockets.

[2013-10-07 15:18] jdolan opened #66 "Com_Warn and Com_Error don't support the redirect buffer"
While Com_Print supports the redirect buffer for I/O redirection (rcon), the Com_Warn and Com_Error do not. This means if users type something invalid into rcon, they often get nothing in return. The redirect API is also a bit ugly. It should use a static size_buf_t that's local to common.c. No reason for the caller to worry about buffering.

[2013-10-10 01:29] jdolan opened #67 "Quemap worker threads block signal handling"
It's impossible to Ctrl-C kill quemap once the worker threads get busy. The ThreadWork runner should check some semaphore or condition that the master sets when a signal is received so that they exit.

[2013-10-10 13:40] #65 closed, assigned to jdolan

[2013-10-10 16:24] #23 closed, assigned to jdolan

[2013-10-10 21:03] #64 closed, assigned to jdolan

[2013-10-12 19:21] jdolan opened #68 "Weapon spin-up times"
Weapons should be able to specify a spin-up time, so that they don't fire instantly (e.g. BFG).

[2013-10-14 03:58] #62 closed, assigned to jdolan

[2013-10-17 16:59] jdolan opened #69 "Support active / inactive state toggles for materials"
Buttons (like the one to activate The Frag Pipe) should support an active / inactive state. I think Quake2 accomplishes this by overloading `ent->s.frame`.

[2013-10-23 03:01] jdolan opened #70 "libcurl.dll causes hang on quit on Win7"
The version of libcurl.dll we're providing causes segfaults on quit on Windows7 (both i686 and x86_64). It's fine on WinXP.

Is there a new libcurl.dll we could try? I've commented out the libcurl init / de-init calls in cl_http.c for now.

[2013-10-27 06:29] #56 closed, assigned to WickedShell

[2013-10-30 03:22] jayschwa opened #71 "Player view changes on menu close in fullscreen"
How to reproduce:
1) Use fullscreen
2) Join a game
3) Open menu GUI (typically Esc)
4) Move the mouse cursor around a bit
5) Close menu GUI

The player view violently jerks to a different position.

Oct 28 2013 build in Windows 7 64-bit

_P.S. I'm happy to see you're on GitHub now_ :smile:

[2013-10-30 04:49] jayschwa opened #72 "Player cannot pass tight spaces in vanilla Quake 2 maps"
I'm not sure if "backwards compatibility" is desired with vanilla Quake 2 maps, but if it is, it appears the player's bounding box is slightly too large and cannot pass smaller spaces in the original maps. From a visual standpoint, it looks like the player model _should_ fit. A few spots off the top of my head:
- base1: left side of collapsed wall next to ramp from crashed pod
- base1: cliff openi

[2013-11-01 15:49] #71 closed, assigned to jdolan

[2013-11-01 23:47] #68 closed, assigned to jdolan

[2013-11-01 23:58] jdolan opened #73 "Re-introduce distinct armor types"
Quake2 treated the armor types as separate items. This added an element of strategy in managing or pursuing armors, and it in general made them slightly less effective. It's one of the key differentiators of Quake2 gameplay. We should re-introduce this.

[2013-11-03 04:10] #69 closed, assigned to jdolan

[2013-11-03 04:11] #54 closed, assigned to WickedShell

[2013-11-05 20:45] #73 closed, assigned to jdolan

[2013-11-06 02:42] #28 closed, assigned to jdolan

[2013-11-08 00:37] jdolan opened #74 "Team slave items do not alternate spawns"

[2013-11-09 13:28] #72 closed, assigned to jdolan

[2013-11-09 14:27] #74 closed, assigned to jdolan

[2013-11-12 13:17] jdolan opened #75 "Add a contents mask to g_edict_t."
In re-adding gib models, I've discovered a pretty awful limitation in the legacy Quake2 code: g_edict_t's have no ability to specify their contents. This is problematic if you want to have players be able to walk through corpses, but have corpses interact with the ground and other solids. Quake2 had a 1-off hack for this: `SVF_DEAD_MONSTER`. I'm re-adding that for now, but what would be much clean

[2013-11-14 13:28] jdolan opened #76 "Add an optional filtering function to Sv_Multicast"
For multicasting events to subsets of players (e.g. a team, all spectators, all non-spectators, etc), it would be nice to have an optional filter function parameter to Sv_Multicast. If provided, this would provide custom filtering in addition to any VIS filtering specified by the first parameter. The typedef for the filter function should be something like:

`typedef _Bool (*FilterFunc)(const g_ed

[2013-11-15 13:18] jdolan opened #77 "Add crouch-sliding bg_pmove."
It's been requested that we implement crouch sliding. While we don't have player animations for it, the mechanics of it should be fairly straightforward to implement. Let's test it out and see how it looks and feels.

[2013-11-16 02:44] joe0x04 opened #78 "Player's shadow is drawn on the skybox"
When walking by a low positioned light, the player's shadow is drawn on the skybox. Can check on edge by the ledge above the water.

[2013-11-19 03:13] jdolan opened #79 "Support loading heightmaps into normalmaps"
Some popular texture sets (e.g. Q4 Power) come with RGB normals and separate heightmaps. For textures like this, the engine should be able to load the heightmap image into the alpha channel of the normalmap for the user. There's no reason that artists should have to jump through hoops to get the parallax shader working.

[2013-11-24 01:25] #78 closed, assigned to jdolan

[2013-12-15 18:05] #17 closed, assigned to jdolan

[2013-12-22 16:17] jdolan opened #80 "pmove: crouching up lifts causes jitter"
Elysium reported that crouching while on func_plats causes jitter in the 1st person view. This is probably just some failed interpolation logic.

[2014-01-08 18:11] jar3817 opened #81 "Dedicated server crash"
From the logs, nobody even joined the server, it just crashes randomly if it sits there long enough. This is using commit # 2034 (20898b1d3be2c3b374aa2fdb864ef838c2d1c0d5)

Here is the "backtrace" spit out to STDOUT and a gdb backtrace too:

======= Backtrace: =========
/lib/libc.so.6(+0x70df1)[0x4e5df1]
/lib/libc.so.6(+0x73531)[0x4e8531]
/home/quake/q2w/bin/quake2world[0x805775a]
/home/quake/q2w/

[2014-02-14 03:10] jar3817 opened #82 "Hud disappears and jitter on respawn when connected to remote server"
Doesn't happen locally, but when connected to remote server. Respawning after getting fragged or typing "kill" will cause the HUD to flicker and eventually disappear. The player view also sometimes jitters up and down after respawn too. Crouching once usually fixes the jitter.

Happens with 64bit win7 and 32bit win8 clients on linux server. Not sure about other client operating systems.

[2014-03-25 11:24] jdolan opened #83 "Players can fall through func_* movers"
Players are able to fall through func_\* movers (buttons, plats, etc). Panjoo's latest cut of Frag Pipe exhibits this with the button that activates the pipe, as well as the lift by the railgun.

[2014-04-17 13:21] #83 closed, assigned to jdolan

[2014-04-17 13:27] #37 closed, assigned to jdolan

[2014-05-05 18:16] joe0x04 opened #85 "Dedicated server restarts on first client connect"
When the first client connects, server restarts loading edge.bsp instead of whatever map it was originally started with.

[2014-05-21 10:53] maci0 opened #86 "mingw build fails to run with out of memory error"

[2014-05-22 09:31] #86 closed, assigned to nobody

[2014-06-18 01:41] WickedShell opened #87 "Water pmove is broken"
Movement in water is currently very broken.

-The player hovers unnaturally on the top of the water, there is no bob
-The player walks on the ground, and is unable to swim up off of it unless they can find a ledge and convince the game they are no longer standing on it
-Hitting swim up underwater is very ineffective, and much slower then normal movement (and to dissimilar to speed with your head o

[2014-06-18 01:50] WickedShell opened #88 "Water visual problems"
The tear line of water across vision on entering the water is disconcerting. (I forget what its called, but that effect when the color of items under water changes).

Also there is apparently a visual hole underwater on edge, screenshot attatched. Unsure if its map specific or water related.
![quake2world000](https://cloud.githubusercontent.com/assets/567688/3308819/f35443e0-f68a-11e3-8e9c-d33ade2

[2014-09-14 19:46] InFerYes opened #89 "using +zoom sets cg_fov to cg_fov_zoom value"
This happens very often. It's reproducable, but can't give any more clear information besides "zooming a few times". Rebind to other key, same issue. It's as if zoom gets stuck, but the value gets copied from cg_fov_zoom to cg_fov.

Windows 8.1 64bit
Q2W version 0.1.0 x86_64

video here https://www.youtube.com/watch?v=7iuTjwX98oI

[2014-09-21 19:02] #87 closed, assigned to jdolan

[2014-09-21 19:58] #85 closed, assigned to nobody

[2014-09-21 23:30] #88 closed, assigned to nobody

[2014-09-22 13:51] #80 closed, assigned to jdolan

[2014-09-22 14:19] jdolan opened #90 "func_water does not work"
The Frag Pipe (q2dm3) contains a func_water that fills the frag pipe chamber with lava. This entity does not work in Quake2World.

[2014-09-22 14:20] #90 closed, assigned to jdolan

[2014-11-27 15:16] #70 closed, assigned to maci0

[2015-01-27 17:17] jdolan commented on #82
@jar3817 I think 1070055825d67a6e973a243d427cfc1ba6856354 actually fixes this. Can you try to reproduce this at some point soon?

[2015-01-27 17:23] jdolan commented on #57
We're at 1.16, which is latest as of January 2015.

[2015-01-27 17:23] #57 closed

[2015-01-27 17:26] jdolan commented on #81
Any update on this @jar3817 ?

[2015-01-27 17:48] jdolan opened #92 "Light sources no longer rotated for mesh entities?"
I think 5904e85a67bb4f5946c02d65bc7ae677a74f8c03 removed the logic to rotate light sources for non-inline-BSP entities. Needs to be confirmed, but it looks like dynamic lights are incorrectly applied to meshes.

[2015-01-27 17:50] jdolan commented on #92
This is very noticeable on the railgun in Gehenna.

[2015-01-27 18:59] kwadroke opened #93 "Out of date documentation"
While working on a Vagrantfile for compiling Q2W, I noticed that the information for building for Linux is out of date with the current source code on this page:
http://quake2world.net/books/documentation/developing-and-modding/source-code-and-dependencies
(Mostly SDL2 stuff)

This too has some out of date information
http://quake2world.net/books/documentation/installation-and-maintenance

I know

[2015-01-27 20:40] jdolan commented on #93
Hi,

Thanks for the info! I'd be interested to see your Vagrant setup when it's ready, too. Are you compiling it on Debian or something else? Are you hoping to make a dedicated server distributable build?

[2015-01-27 20:47] kwadroke commented on #93
Right now I'm compiling it for Ubuntu, but, will probably create a new one for Debian (and maybe Windows)
Here's my current Vagrantfile: https://github.com/kwadroke/linux-scripts/blob/master/vagrant/quake2world/Vagrantfile
I jump between PCs fairly often so I wanted to be able to put together a build/test environment quickly without a lot of work. I'm just starting to work with Vagrant, so I figur

[2015-01-27 20:52] jdolan commented on #93
Yea, Vagrant is awesome. Ubuntu is also a fine choice -- I'm sure it's the most popular among our Linux players. For Windows, I would assume you're looking to cross compile? We haven't actually supported native Windows builds in a few years. @maci0 has put together excellent XC scripts that we use to target Win32 from Fedora. Take a peek in the `win32` directory in this repo.

Thanks again, and if

[2015-01-27 21:00] kwadroke commented on #93
I switched from Ubuntu to Debian a few releases ago, but, there were other projects using Ubuntu for their Vagrant builds. Haven't put together a Debian one yet.
I've been away from Q2W for a while and haven't looked at building for Windows since before the switch from SVN.
I might try to put together some additions in the Vagrantfile for cross compiling for Windows sometime in the not too distant

[2015-02-03 18:04] jdolan opened #94 "Script hooks for misc_emit"
It'd be nice to bind client side emits to entity events. So that, for example, on Frag Pipe, the activator buttons for the lava chamber could emit small lights (red / green) depending on the state of the button. There may be other use cases, and perhaps a server-side solution is easiest. But more thinking should go into client-side scripting first.

[2015-02-03 18:08] jdolan opened #95 "Fog volumes / underwater fog"
Translucent water looks 100 times better than opaque water. Unfortunately, it also puts swimmers at a tremendous disadvantage that compromises gameplay. A way to mitigate this would be fog volumes, in other words `CONTENTS_FOG`. This flag could easily be added to any water brush to enable fog within it. Players would be more difficult to see when swimming, and fog volumes could add nice ambience t

[2015-02-09 18:20] jdolan commented on #92
The problem was actually that .OBJ normals were incorrectly parsed -- not rotated for Quake's coordinate system. Fixed in 0b0169c0dbd8c2f63311a0c2c56b2164171dde2b.

[2015-02-09 18:20] #92 closed

[2015-02-09 18:21] #82 closed

[2015-02-09 21:43] jar3817 commented on #82
I'll check this out tonight. ...
On Jan 27, 2015 12:17 PM, "Jay Dolan" <notifications@github.com> wrote:

[2015-02-10 00:04] #79 closed

[2015-02-10 00:09] jdolan commented on #93
Docs updated. @kwadroke how did you make out with your build VM?

[2015-02-10 00:09] #93 closed

[2015-02-10 00:09] jdolan commented on #49
Do you think you'd have any time to look into this @maci0 ?

[2015-02-10 14:32] kwadroke commented on #93
I've switched it over to Debian for my build VM. Here's the link:
https://github.com/kwadroke/linux-scripts/blob/master/vagrant/quake2world/Vagrantfile.debian-x86

[2015-02-10 14:45] jdolan commented on #93
That's awesome. @maci0 what do you think of providing a Vagrantfile for the Fedora cross-compile VM? That'd be so handy.

[2015-02-17 01:34] jdolan commented on #75
90ac398a5d0f75252e7b5248bf88e26554717e4f addresses this. A contents mask wasn't quite the right answer, but this was worth fixing.

[2015-02-17 01:34] #75 closed

[2015-02-22 17:37] jdolan opened #97 "Doors and plats do not quite reach their absolute positions"
Doors and platforms do not quite reach their absolute positions after activation. A great place to see this is the slanted ramp / door on Lava Tomb. It never fully closes. Neither does the `func_door_secret` on the same level.

[2015-02-22 17:39] jdolan commented on #97
This is probably due to refactoring the game module code to run on integer based time (millis) rather than the original implementation that used floats (seconds). There are functions for these movers in `g_entity_func.c` that are probably missing checks to see if the last remaining move in a sequence meets the desired absolute start / end position, and to pick up the slack where it doesn't. Let me

[2015-02-22 17:41] jdolan opened #98 "Player does not clip correctly when dead"
Client entities are immediately made `SOLID_NOT` upon dying. They also immediately spawn a corpse that is `SOLID_DEAD`. This is almost correct, but not quite. The effect is that, until they respawn, dead clients do not correctly clip to the world and to projectiles.

What should happen instead, is that the client entity should run the death animations and become `SOLID_DEAD` themselves. Only when

[2015-02-22 17:42] jdolan commented on #98
See `g_client.c`, `G_ClientDie` and friends.

[2015-02-22 17:46] jdolan opened #99 "Player does not ride func_plats downward"
When the ground entity goes down and away from the player (and probably from `MOVE_TYPE_BOUNCE` too), the player does not ride the ground entity downwards. Instead, they start to fall after a short delay, and collide with the ground entity its way down. This repeats several times for long `func_plat`s. See main lift on The Edge.

[2015-02-22 23:44] jdolan opened #100 "New weapon is instantly visible when changing weapons"
When changing weapons, the new weapon becomes visible immediately (as it's being lowered). The new weapon should become the view model at the bottom of the lowering animation.

[2015-02-23 13:03] #100 closed

[2015-02-23 13:11] jdolan commented on #51
This isn't a great idea with the new shadows code. Entities which are not visible can still cast shadows into your scene. Closing this out. If people want to wallhack an open source game, they will.

[2015-02-23 13:11] #51 closed

[2015-02-23 13:12] jar3817 commented on #81
Haven't seen any problems lately, looks fixed.

[2015-02-23 13:12] #81 closed

[2015-02-25 05:20] jdolan opened #101 "Third person view of self does not interpolate correctly on remote servers"
There's something wrong with the interpolation code for your own client entity when playing on a remote server (with a ping of > 50ms). There's a rapid jitter / flicker of the player model. This only affects your own client model.

[2015-02-25 05:52] jdolan opened #102 "Chase camera issues"
There are numerous issues with chasecam. No hud, no weapon view, flares and probably emits are incorrectly culled.

[2015-02-25 14:02] jdolan opened #103 "Server browser does not reveal gameplay, match, etc."
The server browser does not display useful information like whether or not match mode or CTF are enabled. To do this, we will have to extend the server info lump returned by each server, and then parse and expose this information in `ui_servers.c`.

[2015-02-25 14:07] jdolan commented on #102
Hey @WickedShell, not sure if you have any interest in looking at some of these, but we're making a big push for 1.0 as Pan has almost wrapped up the original 8 DM map remakes. Would you let me know if this is something you'd like to help out with (the release in general, and / or this ticket). Thanks!

[2015-02-25 21:21] jdolan commented on #49
We should rethink how we build the dedicated server. It should always be built as `quake2world-ded`. It takes all of 2 seconds to link the additional binary. That way, you can crank out both dedicated server builds and client builds in one go.

[2015-02-25 21:26] jar3817 commented on #49
It would be really handy if it were static. But if the required libs could
be bundled to work on any distro that would work too.
On Feb 25, 2015 4:22 PM, "Jay Dolan" <notifications@github.com> wrote:

[2015-02-26 07:38] WickedShell commented on #94
Client side scripting? What? Is there an interest in client side scripting systems?

[2015-02-26 13:07] jdolan commented on #94
Maybe. I've actually not yet had any grand ideas of an elegant solution. One approach here would be that on certain `entity_state_t` transitions (e.g. for `frame` on BSP models, which the server sends us to indicate that a BSP mover has reached a waypoint in its path), scripts could be fired. The script names could be a key-value field on the entity. As for the dialect of the scripts, I'd actually

[2015-02-27 09:36] maci0 commented on #49
currently we already bundle the libs for the client..
shouldnt be too hard to link an additional binary and ship it alongside in our package.
i wouldnt go so far as to build a separate package tho.

[2015-02-27 12:48] jdolan commented on #49
I'm fine with that, @maci0. You're right. A separate package to save a few MB would be silly. Good call.

[2015-02-28 12:38] jdolan opened #104 "Refactor console buffering code to use dynamic allocation and glib"
The console code is a little brittle / gross. It needs a once-over with C99 and glib.

[2015-02-28 12:43] jdolan commented on #77
All you, then :)

[2015-02-28 12:44] jdolan commented on #63
All of this will require extracting the material definition and parsing facilities into a libtool library (`src/material.c`) so that other subsystems can read and write materials.

[2015-02-28 12:48] jdolan commented on #49
So what I'd like to do here is change how we flex `BUILD_CLIENT` throughout the code base. `BUILD_CLIENT` will still be defined, but only really used in `src/client/Makefile.am`. If `BUILD_CLIENT` is true, we build the real `libclient.a` libtool library from `cl_*.c`. In any case, we will also always build `libclient-null.a`, which will come from `cl_null.c`. This will include stubs for all client

[2015-02-28 12:56] jdolan commented on #49
In providing both binaries from a single build, we could do away with the separate packaging and rsync repository for Linux, which would be sweet.

[2015-02-28 12:57] jdolan commented on #35
We're not going to do this in the foreseeable future.

[2015-02-28 12:57] #35 closed

[2015-02-28 12:59] jdolan commented on #34
I think what you're describing here is really a particle emitter. I dig it.

[2015-03-01 08:43] maci0 commented on #49
do we really need separate packages and rsync repos ?
i dont see the benefit, except for saving a few lousy megabytes when installed either client or server bundle.

[2015-03-01 08:48] maci0 opened #105 "Use LLVM/clang for automated native and cross compiled binaries"
We could use LLVM to generate binaries for Windows, OSX and Linux on the same platform.
An alternative would be setting up an OSX VM which is always reachable.
But switching to LLVM should be done regardless.

For windows builds: https://github.com/tpoechtrager/wclang
For OSX builds: https://github.com/tpoechtrager/osxcross

[2015-03-01 11:24] jdolan commented on #49
Rub your eyes bud. I'm in complete agreement with you :)

[2015-03-01 11:27] jdolan commented on #105
+1

[2015-03-01 11:49] WickedShell commented on #105
I've used clang to do the static analysis in the past of q2w with pretty
favorable results (it solved something I couldn't figure out how it was
happening with gdb). Ironically there are a couple of warnings that clang
gives that GCC would rather you didn't fix and vice versa.
On Mar 1, 2015 4:27 AM, "Jay Dolan" <notifications@github.com> wrote:

[2015-03-01 22:36] maci0 commented on #49
ok, sorry. guess i was tired :D after reading again i see it

[2015-03-03 13:34] maci0 commented on #35
I don't really see the use-case either. Unless we plan to expand to the console market (steam machines ?)

[2015-03-03 18:38] jdolan opened #106 "NetRadiant support"
It's imperative that we have NetRadiant support before the 1.0 release. A patch has been submitted to the Xonotic NetRadiant project and is pending review.

https://gitlab.com/xonotic/netradiant/merge_requests/1

[2015-03-03 18:40] jdolan opened #107 "Offhand grapple"
We should have `+hook`. Several assets are required:
- Grapple model
- Rope model
- Grapple fire sound
- Grapple fly sound
- Grapple hit sound
- Grapple retrieve sound

If someone can source these assets, I will begin implementation of the game code and physics for this.

[2015-03-03 18:41] jdolan commented on #107
@Cgreenhaw @dmitripot @jar3817 Any interest in helping with the assets for the grapple?

[2015-03-03 18:44] jdolan commented on #107
@nilium ^

[2015-03-03 18:45] jdolan opened #108 "Hand grenades"
Assets required for hand grenades:

 * Grenade prime sound
 * Grenade fly sound

[2015-03-04 04:38] nilium commented on #107
`<jdolan> Nilium: HINT HINT HIIIIIIIIINT`

There anything in particular we're looking for in a rope/grapple model?

[2015-03-04 13:45] jdolan commented on #107
@nilium Are you familiar with the Quake2 one from ThreeWave CTF? The rope was just a textured stick. The hook resembled one of those claws you see in the arcade machines where you try to snag a stuffed animal. Something similar would be familiar and totally acceptable.

[2015-03-04 13:46] jdolan commented on #107
@nilium Let me ponder the best way to "tile" the rope model and I'll get back to you on that part.

[2015-03-04 14:17] maci0 commented on #107
so is this like the grapple in zelda games ? where you have certain surfaces you can hook to and get pulled to them or pull them to you?

[2015-03-04 18:23] #103 closed

[2015-03-04 20:06] jdolan commented on #107
Uh. I guess. Did you never play QW or Q2 CTF? Jesus, man ;)

[2015-03-04 20:43] nilium commented on #107
I DIDN'T PLAY IT. THAT WAS ME.

Did not play QW, did not own Q2 until around 2007 or 2008.

-noel

[2015-03-04 22:05] jar3817 commented on #107
What did you do from 1997 to 2007?
On Mar 4, 2015 3:43 PM, "Noel Cower" <notifications@github.com> wrote:

[2015-03-07 19:50] maci0 commented on #49
ok.. it really looks like miscommunication here.
My idea was to provide a single package and a single rsync repo containing both the client as well as the dedicated server build.
But it looks like you created a second rsync repo and a quetoo-dedicated target folder in the source tree. I hoped we could avoid maintaining 2 distinct versions of update.sh etc..

[2015-03-07 22:19] jdolan commented on #49
Nope, we're on the same page. I have a branch called jdolan/quetoo-dedicated that is moving in this direction.

[2015-03-10 02:20] jar3817 commented on #108
Hey, give this a try. There should be a public server called "claire grenade test", give it as shot. If you don't see it in the browser try to connect to "buf2.packetflinger.com:1998"

You'll need these assets in your share folder: http://quetoo.packetflinger.com/dl/grenade-assets.pk3

[2015-03-10 02:29] jar3817 commented on #108
Oh yeah, when you grab some nades "use grenades" to start tossing

[2015-03-10 11:50] jdolan commented on #108
Pretty freaking sweet! A couple notes:

 * The velocity ramp for holding / priming a nade is very steep. I think maybe the max velocity should be scaled down a hair, and the min velocity brought up just a bit. Right now, they're very sensitive and it's difficult to gage how far a nade will travel based on priming it.
 * The link.cfg for the hand grenade model should use a slightly smaller scale. T

[2015-03-10 12:14] jar3817 commented on #108
I knew about most of those notes (except for the cycling order) and I forgot about MOD messages... but just something that functions.

I was basing the velocity off of the launcher which yesterday finally realized how pathetically weak it is. Like standing at the bottom of the stairs near LG on edge you can't get a nade on the level above the LG by the ramp. In the right scale that's like 10 feet.

[2015-03-28 17:49] jdolan opened #111 "Lightning gun lockup"
[code]

[2015-03-28 21:34] jar3817 commented on #111
Maybe related to the fact that two players (you and that other guy) were both using LG on each other...maybe not.

[2015-04-01 14:12] jdolan opened #113 "MAX_ENTITIES shortcomings"
The game module doesn't clamp g_max_entities to MAX_ENTITIES, which could very easily result in a crash. Also, MAX_ENTITIES is 1024, but MAX_CLIENTS is 256. At 256 clients, we could very easily burn through all 1024 entity slots. Since entity numbers are transmitted over the protocol as unsigned shorts, why not increase MAX_ENTITIES to something like 8192? There would be a memory footprint increas

[2015-11-10 21:07] dmitripot opened #116 "Replace g_teams and g_ctf with g_gametype cvar?"
It would make it way easier to add game types, such as Clan Arena, Harvester, Jailbreak, Domination, etc. I'm tired of game modes spawning whole new gamedirs (which require code merging, etc, mind you). IMHO, separate game and cgame is only worth it if one were to make a major modification to the game style itself on a whole other level. For example, that superheroes mod for Quake 3, or that racin

[2015-11-10 21:25] dmitripot commented on #107
Sorry, been kinda buried in stuff this year. As soon as I get back from visiting family in Russia, I'm down to make some assets. Been a while since I did anything real quake-wise.

[2015-11-10 21:28] jdolan commented on #116
Yea, I totally agree with your overall assertion. I'm not sure that combining the cvars that we have in different ways can't yield the same thing -- perhaps even with more flexibility, tho.

These cvars don't load different game modules or gamedirs. The idea is that you can have instagib CTF, arena TDM, etc. I love the idea of adding new game types either way, tho :)

[2015-11-10 21:33] dmitripot commented on #116
Ha, I was just going to say, I realized that insta is implemented already. Instagib is actually cvar-worthy for sure, since it works with any gamemode in the history of quake that comes to mind. Short of instagibbing overload bases :P

[2015-11-11 00:07] dmitripot commented on #107
This though.
![w_hook](https://cloud.githubusercontent.com/assets/4108751/11079782/bcd66e42-881f-11e5-954f-17930629a0c0.jpg)

Here I have the TGA of the pic and also the ammo box/pics for prox launcher (another weapon that's good to have for TA-esque gamemodes): http://host-a.net/u/Captain%20Qwerty/prepare-teamplay.zip

Prox reserves the violet-pink color ala Q3TA.

[2015-12-13 20:00] jdolan commented on #111
Resolved.

[2015-12-19 17:29] jdolan commented on #102
Hm. I just tried, and could not reproduce this. I started a listen server, and connected to it with a second windowed instance. Chase camera worked fine with cg_third_person 0 or 1 on the chasing client. Downgrading this to a minor bug until we see it again and have steps to reproduce.

[2015-12-20 16:24] #101 closed

[2015-12-20 16:26] jdolan opened #117 "Crash on quit with debug enabled"

[2015-12-20 16:51] #117 closed

[2015-12-20 17:12] #108 closed

[2015-12-20 17:19] jdolan commented on #104
The entire console subsystem was rewritten.

[2015-12-20 17:19] #104 closed

[2015-12-20 18:33] jdolan commented on #66
This was addressed with the console refactor.

[2015-12-20 18:33] #66 closed

[2015-12-20 18:34] jdolan commented on #29
This was addressed with the console refactor.

[2015-12-20 18:34] #29 closed

[2015-12-20 18:34] jdolan commented on #18
This was addressed with the console refactor.

[2015-12-20 18:34] #18 closed

[2015-12-20 18:40] #116 closed

[2015-12-21 01:54] jdolan commented on #106
Another merge request pending to address project renaming, OS X crashes, etc:

https://gitlab.com/xonotic/netradiant/merge_requests/16

[2015-12-21 19:12] jdolan commented on #106
The PR has been merged. Quetoo support will be in the next Xonotic NetRadiant release.

[2015-12-21 19:12] #106 closed

[2015-12-22 15:23] #77 closed

[2015-12-23 13:42] #76 closed

[2015-12-24 01:08] jdolan commented on #113
Moving this to low-priority enhancement. I've added clamping code to keep g_max_entities within acceptable bounds. More entities is really not a high priority at this point.

[2015-12-24 01:09] jdolan commented on #102
This was actually a duplicate bug of the player state / lerp + high ping bug.

[2015-12-24 01:09] #102 closed

[2015-12-24 18:16] jar3817 commented on #111
Still broken. Two players crossing streams and server locked up. Load average spiked to 100% and stayed there until I killed the quetoo-dedicated process.

âLinh connected
âba1b0a connected
âba1b0a connected
âLinh wants some
âba1b0a wants some
âLinh was tased by ba1b0a's lightning
âba1b0a: toggle_console
â
Program received signal SIGINT, Interrupt.
0x00007ffff17d6a77 in G_Find (from=0x149bae0, fro

[2015-12-26 15:53] jdolan opened #118 "Lava ball emitter"
It'd be great to have a Quake1-style lava ball misc_emit. These wouldn't do any damage, but they'd add to the atmosphere on Lava Tomb, Frag Pipe, etc.

[2015-12-26 16:03] jdolan commented on #111
I think this must have been an older build. Both instances of the unbounded loop to find the current lighting projectile have been fixed. I just started a listen server with cheats, and connected a 2nd instance of the game locally. I gave both clients 9999 bolts, and typed +attack in one console, while running around in the other instance of the client intermittently firing the lightning at will.

[2015-12-26 16:06] jdolan commented on #20
Assigning to Pan since he's putting the finishing touches on our new logo, which will become the game icon I imagine.

[2015-12-26 16:13] jdolan commented on #63
I've noticed recently that quemap doesn't seem to correctly auto-flag for known shaders like common/caulk, common/playerclip, etc.

[2015-12-26 16:14] #21 closed

[2015-12-27 13:58] jdolan opened #119 "Ability to unbind keys from menu"

[2015-12-28 01:57] jdolan commented on #118
These have been added to Frag Pipe and Lava Tomb. I suppose a couple on Lost Hallways are in order.

[2015-12-28 14:33] jdolan commented on #118
They've now been added to Lost Hallways, too. Here's the entity definition:

[code]

[2015-12-28 14:33] #118 closed

[2015-12-28 15:18] jdolan commented on #49
So just an update on this one:

 * The quetoo-dedeicated branch has been merged into master.
 * It produces quetoo(.exe) and quetoo-dedicated(.exe) on all platforms and architectures in a single pass.
 * The dedicated server binary is always linked against ncurses (Linux and Mac) or pdcurses (Mingw) and has a halfway-decent interactive console.
 * Bundling the Linux build from Fedora has proven pr

[2015-12-28 15:29] jdolan commented on #41
Nope. We can't do this until we expose UI hooks to the cgame module. Right now, the menu system allows the user to set these, and so they must be visible to the core engine.

[2015-12-28 15:29] #41 closed

[2015-12-28 15:59] jdolan commented on #119
All set.

[2015-12-28 15:59] #119 closed

[2015-12-28 17:16] jdolan commented on #97
This fix is mostly working great, but there are a few regressions. For example, the tallest lift on Tokays Towers now never reaches its top position, and is instead stuck once triggered.

[2015-12-29 15:41] jdolan opened #120 "Double debounce on hard fall"
Spawn into Tokays Towers and drop to the RL catwalk. You'll get fall damage, and then a half second later, another fall feedback. Must be a playerstate / pmove bug.

[2015-12-30 00:00] jdolan commented on #97
This was fixed by 1) completely rewriting the linear mover code to be sane and 2) refactoring the network protocol to use full floating point precision. The problem here was that, with Quetoo's higher-than-10-hz tick rate, small movements for some frames were simply falling through the cracks of the 16-bit coordinate system. Moving to 32 bit floating point makes sure that we reap all of the physic

[2015-12-30 00:00] #97 closed

[2015-12-30 00:16] #120 closed

[2015-12-31 02:17] jdolan commented on #98
Done and done.

[2015-12-31 02:17] #98 closed

[2015-12-31 02:18] jdolan commented on #99
This is probably going to be easier to fix with the rewritten mover code and the floating point pmove code. Already, some plats (like the `func_train` near the Quad on Tokays Towers) are behaving.

[2015-12-31 14:52] jdolan commented on #111
I cannot, for the life of me, reproduce this anymore. Closing it out.

[2015-12-31 14:52] #111 closed

[2016-01-01 17:15] jdolan commented on #49
Well.. ci.quetoo.org died (and perhaps @maci0 did as well ). Just kidding buddy.

So I'm updating the Windows and Linux builds from my own Fedora and Debian VMs, respectively. The Linux client/server/master bundle works fine on Debian based distros. I'm seeing weird dragons when trying to run that build on Fedora. But at this point, I don't know what do say about it. Either we maintain separate De

[2016-01-01 17:15] #49 closed

[2016-01-01 19:51] jdolan commented on #89
This appears to have been fixed by the console rewrite. I can't reproduce this, tapping the key bound to +ZOOM as fast as I can, even while running around and shooting.

[2016-01-01 19:51] #89 closed

[2016-01-01 20:32] jdolan commented on #2
All set. When Pan provides the updated logo, we can cut icons for quetoo-dedicated.exe and quemap (?) too.

[2016-01-01 20:32] #2 closed

[2016-01-01 20:37] jdolan commented on #20
I'm actually going to close this. Quemap can't successfully be invoked from the Windows GUI. And it will only ever be invoked by a very small subset of our users. And when they do invoke it, it will likely be through GtkRadiant. Creating an icon for quemap.exe just isn't a priority.

[2016-01-01 20:37] #20 closed

[2016-01-02 05:36] jdolan commented on #94
This is now implemented. I decided that a target_light entity on the server was the best approach, and I have to say, I'm pretty happy with it.

`target_light` should be targeted by another entity (e.g. a button or relay). The user can specify one or two colors to cycle through, and can opt to include an "off" state as part of the cycle as well. So this will work for creating switched lights as we

[2016-01-02 13:29] jdolan commented on #94
Just pushed updated pk3s for Frag Pipe, Pits and Slimy Place, adding `target_lights` for all `func_buttons`. Really ties the button material animations together, having the effect textures appear to glow :+1:

[2016-01-02 13:29] #94 closed

[2016-01-02 16:32] jdolan opened #123 "Armor logic is too simple, not fun"
Right now, armor just acts as additional health, which is silly. Study how Q2 handled the 3 armor types, and re-implement that or something similar.

[2016-01-03 11:26] maci0 commented on #49
Sorry, about that. Looking into it now.

On Fri, Jan 1, 2016 at 6:15 PM, Jay Dolan <notifications@github.com> wrote:

[2016-01-03 15:21] jdolan opened #125 "Atomic jump"
Standing perfectly still, jumping in succession yields 2 increasingly higher jumps (approximately 1 entire jump higher, each time). While kind of fun / funny, most players would probably see this as a bug.

[2016-01-03 15:22] jdolan opened #126 "Corrupt loading background image on r_restart"
The first r_restart while actively in-game will use a random texture from the current map as the loading background.

[2016-01-03 21:39] jar3817 commented on #125
This is really cool actually. This is unintentional current behavior? I may have to put something like this in qtjump.

[2016-01-03 21:40] jdolan commented on #125
Hah. When I figure out _why_ it's happening, I'll send ya the diff ;)

[2016-01-03 21:44] jar3817 commented on #123
I like how q2 does armor. Off the top of my head (which is probably wrong) it was jacket took 30% of damage, yellow took 60% and red took 80%. And energy weapons (hb, bfg, blaster) cut through armor like a class above (cuts through ya, like it's jacket, ra like it's ya, jacket like you have none).

[2016-01-03 21:54] jdolan commented on #123
Well with all that knowledge.. WE HAVE A WINNER!

[2016-01-03 21:59] jar3817 commented on #123
Sometimes I feel like Red is way overpowered in Q2 though. Like on maps that aren't balanced perfectly the player who gets red first wins. Maybe this is just in duel though. So perhaps making Red a special item (like MH) where it only spawns when the player who got it last runs out of it. Just a thought.

[2016-01-04 16:01] jdolan opened #127 "Play a sizzle sound in lava"
There's currently no unique sound when falling into lava. Rather than relying on the default pain sounds, it'd be more appropriate to play a dedicated sizzle sound when taking lava damage. Quake and Quake2 both did this.

[2016-01-07 02:39] jdolan commented on #123
Thanks @jar3817 for taking care of this.

[2016-01-07 02:39] #123 closed

[2016-01-07 17:59] jar3817 opened #130 "IPv6 Awareness"
It's 2016, ARIN is out of IPv4 addresses, let's get with the program...

- Server should (be able to) listen for v6 connections
- Client should be able to specify connection type "connect -6 hostname.com" or separate connect6 command
- Master should accept heartbeats from both v4 and v6 servers and answer "getservers" appropriately

[2016-01-07 23:40] jdolan commented on #130
:+1:

[2016-01-07 23:41] jdolan commented on #130
What's the level of effort on this? Is this a 1.0 release item?

[2016-01-10 13:21] jdolan opened #131 "Add category to Com_Debug"
Debug output is too noisy to be useful. We should either add a category parameter to Com_Debug, and then use `debug->integer` to mask off that category, or we should introduce unique cvars for various subsystems, and funnel their debug output through helper functions that gate on these cvars. For example:

[code]

[2016-01-10 13:26] jdolan commented on #131
A hybrid approach would be to add the category parameter to Com_Debug, and mask check that category against `debug->integer`, but also add commands that appear like cvars to manipulate the mask easily.

For example:

[code]

[2016-01-10 13:29] jdolan commented on #131
The meat of that logic could be abstracted into Com_EnableDebug(int32_t d), so that the actual command callbacks could look like:

[code]

[2016-01-10 18:16] jar3817 commented on #130
At first it didn't seem like too much had to change. I've been known to be wrong though. It would be cool or this to be in 1.0 release though. I'm slowly getting there.

[2016-01-11 00:00] #125 closed

[2016-01-11 00:19] jdolan opened #132 "UI / Menu improvements"
For the 1.0 release, the menus need some work:
- Servers list
  - Show map image when selecting a server
- Ability to create a listen server
  - Choose map from drop-down
  - Show mapshot image
  - Set hostname
  - Set max clients
  - Set CTF, Teams, Instagib, etc..
- Ability to set skin
  - Choose model from drop-down
  - Show player model
  - Choose effect color from drop down

[2016-01-11 13:04] jdolan opened #133 "Looping of func_plat middle sound"
On Tokay's towers, this is really noticeable. I think the sample itself needs to be modified to loop correctly. It's intended to be a loop sample according to the code.

[2016-03-01 23:02] jar3817 opened #134 "Demo file extension"
The current file extension for demos (.dem) is used for other games like Quake, Hexen II and others. It might not be a bad idea to change it to something unique so you can simply double-click on the file and have it open Quetoo.

Perhaps .qtd or even .qtdemo. Thoughts?

[2016-03-02 01:23] jdolan commented on #134
`.fap`. You won't do it.

[2016-05-08 11:58] jdolan commented on #134
I'm fine with changing the file extension. The bulk of the work here would be to add some `argv` parsing to detect and play demo files when the OS launches us as such. Your call. Feel free to push this out of the milestone if you'd like to defer.

[2016-05-08 12:07] jdolan commented on #107
@dmitripot Nice idea for the proximity mines. The impediment here would be the gun model itself, obviously. If that's something you're willing to take on, let's open a new issue and move the discussion there.

@nilium Would you still consider making a grapple model with a "tile-able" rope model?

[2016-05-08 12:08] jdolan commented on #105
Just an update on this one: as of late, I've been cutting Mac, Linux and Windows builds from my OS X host. I have a Fedora VM for mingw-cross, and Debian for Linux native builds. This all works surprisingly well; it's just a bit tedious to do.

[2016-05-08 13:06] jdolan commented on #95
The fog volumes themselves would have to be entities, in order to support key-value pairs for color and density, etc. It kinda stinks to eat an entity slot, but there are only likely to be a few of these per map. All volumes sharing the same material and behavior could be grouped into a single entity, too.

So brush entities of class `misc_fog` would consist of brushes that are denoted as `CONTENT

[2016-05-08 13:14] jdolan commented on #10
@jar3817 @WickedShell Any interest in taking this on?

[2016-05-08 13:16] jdolan opened #135 "Sound spatialization code sucks"
There's something really out of whack with our sound mixing and spatialization code. Sounds are sometimes just completely absent. I wrote it a long time ago, and it's possible that simply rewriting it would fix or improve it. Some study is required to determine where it's shortcomings truly are. Or, alternatively, we could try to implement OpenAL. With OpenAL, we could gain the ability to plug in

[2016-05-08 13:18] jdolan commented on #63
This would be required for (or would greatly help with) #95.

[2016-05-08 13:44] jar3817 commented on #10
Yup
On May 8, 2016 9:14 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-06-05 18:37] jar3817 opened #136 "Add "duel" game mode"
There should be a game mode for dueling, only allowing 1 person per team, default to team chat, etc.

[2016-06-05 22:48] jdolan commented on #136
👍

[2016-07-15 21:46] jdolan opened #138 "History file not saved on Windows?"
Pan reports that the history file is not saved on his system. He said he can manually edit the file and insert lines to it, and those lines will be available when he launches the game (so reading the history file works). But every time the game exits, he said the file is blank. Can you verify this?

[2016-07-15 21:47] jdolan commented on #136
Shall we close this?

[2016-07-15 21:48] jdolan commented on #126
@jar3817 Can you confirm that you see this on Linux or Windows as well?

[2016-07-16 02:09] jar3817 commented on #126
I do not see this on linux (Fedora 23), but I do on windows (7 pro). I tried updating and still got it. I didn't try building my own for windows...

[2016-07-16 02:10] jar3817 commented on #136
done and done

[2016-07-16 02:10] #136 closed

[2016-07-16 13:04] jdolan opened #139 "High framerates cause slow player movement"
Pan and Butane have reported intermittent slow player movement. Basically, in parts of the map, the players max speed will drop to 100ups. What we determined is that this happens when the user's framerate spikes (> 500fps). We discovered that setting a framerate cap (`cl_max_fps` or `r_swap_interval 1`) alleviates the issue. What must be happening is that the `cmd_t.time` value is too small for th

[2016-07-16 13:05] jdolan opened #140 "Player name in scoreboard sometimes shows as 'newbie'"
At some point, named players will begin showing up as `newbie` in the scoreboard. Not sure why.

[2016-07-16 13:06] jar3817 commented on #139
Slow is lame!

On Jul 16, 2016 9:04 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-16 13:07] jdolan opened #141 "Death / corpse animation jitter in multiplayer"
There might be some sort of entity state interpolation issue with corpses in multiplayer. Specifically, when a dead player respawns, their corpse can be seen jittering by other players. I noticed this with a > 100ms ping, not sure if it's harder to detect on a better connection or local game.

[2016-07-16 13:12] jdolan opened #142 "Pmove jitter in corners, wall stickiness"
I think the plane clipping code in `Pm_StepSlideMove` is inadequate. We need to adopt the full-blown, re-clip it umpteen ways, version of the code that Q2 and Q3 use.

[2016-07-16 13:16] jdolan opened #143 "Modify the damage inflicted sound to vary with damage inflicted"

[2016-07-16 15:10] jdolan commented on #139
I can't reproduce this :| For some reason, even with `r_programs 0` and the smallest `cl_view_size`, I can't get over 310fps, and the bug does not materialize. I can still take a crack at fixing it, but I may need some help.

[2016-07-16 15:40] InFerYes commented on #139
What specs do you have? I could try to reproduce this if you can tell me what map allows for easy speed accumulation.

[2016-07-16 15:46] InFerYes commented on #143
Is this a sound you hear when you hit someone regardless of distance, not the sound from the character? Quake Live has it in a few flavours, like high pitch/low pitch for high/low damage, or just a simple hitbeep regardless of damage. I kinda like it. Can it be made configurable?

[2016-07-16 17:10] jdolan commented on #139
I'm on a Macbook Pro Retina (late 2013). It's an i7 quad at 2.3, which, for some insane reason, isn't fast enough to get > 500fps under any circumstances. I'm guessing most desktop-flavor systems can hit > 500. Lemme know what you find. Also, if you are able to reproduce it, please add `pm_debug 1` to your console and then attach the log here :)

[2016-07-16 17:17] jdolan commented on #143
Yea, I think we need several different samples for the amount of damage inflicted, you're right.

[2016-07-16 18:16] jar3817 commented on #143
Make it a fart sound

On Jul 16, 2016 1:17 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-16 18:21] jar3817 commented on #139
I saw some slow down a while ago on my desktop. I could only run at 200
instead of 300. It was on tokay's a few months ago.

I have a brand new laptop that should be able to get the framerate that
high, I'll check it out when I get home tonight.

On Jul 16, 2016 1:10 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-17 01:02] jar3817 commented on #139
I can confirm this on linux, between 500 and 700fps the max speed seems limited to around 200. At 1000fps limited to 100. You can briefly get more speed by strafe/circle jumping.

![quetoo006](https://cloud.githubusercontent.com/assets/4224353/16898142/7f53ea26-4b98-11e6-9746-c0a7219fa8ec.jpg)

![quetoo004](https://cloud.githubusercontent.com/assets/4224353/16898143/89567a98-4b98-11e6-8e0c-0f2ecdc

[2016-07-17 01:11] jar3817 commented on #139
oh and pm_debug 1 doesn't do anything, the player just says it

[2016-07-17 12:18] jdolan commented on #139
Ah, sorry. `PM_DEBUG` is a macro that adds both client- and server-side debug messages for player movement. It looks like `PM_DEBUG` is `1` in the current builds, so simply setting `debug 1` at the console should produce some player movement information. However, I think the `cmd_t.msec` information for `Pm_WalkMove` is not currently printed. I'll make sure that it is.

[2016-07-17 12:19] jdolan commented on #139
Also, I am able to reproduce this (sort of) on my Macbook. I can get up to about 325fps in some areas, and when I do, I've noticed that my maximum speed is about 285ups (just shy of 300). If I drop my framerate to under 300fps, I'm right back up to 300ups. So I can debug this locally 👍

[2016-07-17 12:21] jdolan commented on #139
Side note, this is (in my estimate) a very old problem with either `cl_cmd.c` or `bg_pmove.c` that was masked for ages with the old `cl_max_pps` logic, which enforced a hard packet rate clamp of 120Hz. I removed that clamp over the winter to give the user more control over their actual packet rate, and my hunch is that is when this bug materialized. But the underlying cause is likely much older.

[2016-07-17 12:22] jdolan commented on #139
@Panjoo

[2016-07-17 12:23] jdolan commented on #139
Also, screw you guys and your 1000fps rigs. Must be nice :P

[2016-07-17 12:41] jdolan commented on #139
Jesus Christ. So the fix here is that, sometime ages ago, I thought default values of `200` for `cl_foward_speed` and `cl_right_speed` looked silly, and `100` would be a much nicer round number. Turns out, for very high framerates, this matters a lot.

Several other fixes came out of this bug, tho:

 * We now have an 'immediate packet' trigger, so that jump or fire commands are sent to the server

[2016-07-17 12:41] #139 closed

[2016-07-17 12:43] jar3817 commented on #139
Dude, I had to go windowed at 300x200 to get that...

On Jul 17, 2016 8:23 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-17 15:22] jdolan commented on #142
26471bc resolves this. A missing check for backwards deflection was the primary culprit here. I had forgotten that I had already ported Q3's plane intersection clipping code to `Pm_SlideMove`.

To reduce the jitters in corners, specifically, I also introduced a new constant for `Pm_CorrectPosition` that reduces the coordinate nudging to `0.1` from `1.0`. Because we use full floating point precisio

[2016-07-17 15:22] #142 closed

[2016-07-17 18:50] #10 closed

[2016-07-17 21:07] Panjoo commented on #139
The first time I noticed the slower movement was some months ago when I mentioned to Jay that I couldn't do some of the trickjumps (eg. the strafejump from YA ladder to opening on fragpipe).
But _the best map to reproduce the slow movement with high fps is slimyplace (dm7)_ which is the simplest in terms of layout and line-of-sight. Lol, I could barely jump across the little slime pit near the RA

[2016-07-17 22:44] jdolan commented on #135
Forget OpenAL for now. We don't really have time, and with today's fixes, I think the SDL_Mixer implementation will be adequate for a while.

[2016-07-17 22:44] #135 closed

[2016-07-18 01:05] #127 closed

[2016-07-18 03:45] jdolan commented on #140
I looked at this for quite a while today. The scores themselves are transmitted in binary, and the client's name to draw is resolved from the configstrings (CS_CLIENT). So this might go quite a bit deeper..

If a player's userinfo fails to validate, they could receive the default userinfo, which would identify them as "newbie". We should keep an eye out for this happening again. I'm demoting this

[2016-07-18 10:04] jar3817 commented on #140
I've never actually seen this in the wild before, but I'll keep an eye out
for it.

On Jul 17, 2016 11:45 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-18 17:09] jdolan commented on #133
I tried my damnedest to make this sample loop cleanly last night. Someone with an audio engineering degree is going to have to fix it. Until then, I might just comment the sound out of the code.

[2016-07-20 16:50] jdolan opened #144 "JPEG screenshots require multiple-of-4 video dimensions"
@jar3817 @maci0 I think we've seen this before. Would one of you be able to look into it? I'm not sure if the 64 bit Windows build is affected.

![quetoo001](https://cloud.githubusercontent.com/assets/643118/16995086/5acde46c-4e78-11e6-9ea5-e2ad38cbdecc.jpg)

If this is going to be a huge pain in the ass, I'd welcome a patch that gives us PNG screenshots, so that we can drop libjpeg entirely. Just

[2016-07-20 16:50] jdolan commented on #144
CC @Panjoo

[2016-07-20 18:16] jdolan commented on #126
I discovered, in gutting AntTweakBar in the `jdolan/nuclear-option` branch, that this is actually ATB's fault. It goes away when we don't init AntTweakBar. So, I'm going to close this out, as we're moving away from ATB anyway.

[2016-07-20 18:16] #126 closed

[2016-07-20 18:56] WickedShell commented on #144
That's byte alignment error on glReadPixels (last time I fixed it was a
format that wasn't specified causing the alpha byte to bed ignored one way
or the other). I'd recommend STB image as a libjpeg replacement

On Jul 20, 2016 5:50 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-20 23:28] jdolan commented on #144
Hot damn, `stb_image_write.h` looks awesome.

[2016-07-21 00:29] jdolan commented on #144
Still, having looked at `Img_WriteJPEG`, I don't see how we're going wrong.

@Panjoo, I did a `make clean` on the i686 build on Jenkins and re-ran it. There's a chance that it had picked up the wrong version of libjpeg or something. Would you mind running the updater and confirming if this issue persists?

[2016-07-21 00:33] jdolan opened #145 "Player swings weapon model far away from body when changing weapons"
I'm not exactly sure when this happened, but I'm fairly sure it wasn't always the case. When changing weapons, the animation swings the weapon far away from the player's body. It looks pretty ridiculous. This is in the 3rd person view. In 1st person view, it looks acceptable.

On a related note, I've noticed that this animation is *not* smooth or fluid in the 1st person view when running at higher

[2016-07-21 08:02] WickedShell commented on #144
What were the dimensions of the image? It's a bit hard to see on a phone...
I'm guessing it's not a multiple of 4 in width...

On Jul 21, 2016 1:29 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-21 17:18] jdolan opened #146 "No self damage is inflicted in duel mode"
@jar3817 Take a look at `G_Damage` in `g_combat.c`, like `221`. Some logic is needed there to account for `GAMEPLAY_DUEL`. Maybe something like:

    if (target == attacker) {
        switch (g_level.gameplay) {
            case GAME_DEATHMATCH:
            case GAME_DUEL:
                break;
            default:
                 dmg = 0;
                 break;
        }
    }

Or the inverse

[2016-07-21 17:34] jdolan commented on #146
(I would have just fixed this, but I'm elbow deep in menus work, and was just browsing this code because it showed up in static analysis.)

[2016-07-21 17:55] Panjoo commented on #144
Oh crap, my bad:/.  Jay, I ran your latest update but that didn't fix it because the problem wasn't in libjpeg but between the chair and keyboard. So it's safe to just close this.

Using the ingame Video options all I see is 'mode: custom' with nothing else to choose from or see what it's currently set to. [-> custom-res](http://panjoo.tastyspleen.net/quetoo/uploaded/custom-res.jpg)
After updating

[2016-07-21 17:57] jdolan commented on #144
Thanks for providing the answer, @WickedShell! I think we can demote this to a minor bug and back it out of the 1.0 Milestone. We should eventually try to support arbitrary sized screenshots..

[2016-07-21 17:58] WickedShell commented on #144
This is a regression in that I used to have it working for odd sized
screenshots

On Jul 21, 2016 6:57 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-21 18:05] jdolan commented on #144
Interesting. Viewing the `git blame` for `Img_WriteJPEG` and `R_Screenshot_f` doesn't reveal anything of note.

[2016-07-21 18:13] WickedShell commented on #144
Was a problem with not having declared the buffer format somewhere along
the way last time.a quick search of the old svn history doesn't find it for
me though...

On Jul 21, 2016 7:05 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-21 20:59] WickedShell commented on #144
Try setting the unpack alignment prior to reading the pixels back: IE prior to https://github.com/jdolan/quetoo/blob/a5a28927d121369a870f8fe0e58b671d8273840f/src/client/renderer/r_image.c#L95 we should have set the glPixelStorei(GL_UNPACK_ALIGNMENT, 1)

Default value is 4, which is why it works if your screen is a power of 4. I had to do this before as without setting the unpack alignment we would

[2016-07-22 00:16] jar3817 commented on #146
I voted for the inverse, makes more sense (to me) to make a special case for arena and insta...

[2016-07-22 00:17] #146 closed

[2016-07-22 01:45] jar3817 commented on #134
Let's try .demo for a while

[2016-07-22 01:45] #134 closed

[2016-07-22 01:48] jdolan commented on #134
👍

[2016-07-22 01:49] jdolan commented on #134
a17733ac84766c03a55ee973c766ed99e30e22ca

[2016-07-22 01:51] jar3817 commented on #134
I looked how to link this to a commit but couldn't figure it out...newb...

[2016-07-22 05:21] jbest2015 opened #147 "Server is using protocol minor 1009"
Hi I am trying to connect from my MAC to a Linux Server running quetoo-dedicated
The client keeps dropping the following error.

![image](https://cloud.githubusercontent.com/assets/16674743/17047301/a2c52a92-4f99-11e6-90e1-ff125f1b7d2e.png)

and this is the server side.
xBIG connected

[2016-07-22 10:59] jdolan commented on #147
Hi there,

Yep, you've caught us in a busy week, and I've not kept the Mac build up with the Linux and Windows builds. I will update the Mac build in just a few minutes. Standby ;)

[2016-07-22 11:42] jar3817 commented on #145
lol, it looks like the player is playing with a yo-yo

[2016-07-22 12:18] jdolan commented on #147
Should be all set! Please close this out if everything works for you. Thanks for trying Quetoo, and feel free to drop by #quetoo on Freenode as well.

[2016-07-22 12:27] jdolan commented on #145
Yea, I swear, it didn't always do this. But I have no idea when or how it broke.

[2016-07-22 12:28] jdolan commented on #145
It affects qforcer and gork, so it's not the player model.. Some weapons are worse than others, tho, which leads me to believe it's something wrong with the `link.cfg`'s. Very weird.

[2016-07-22 12:35] jbest2015 commented on #147
HI Jay, I am sure this will work , thank you so much for all of your work on this, my friends and I in our late 20's and early 30's would play this all the time and I thought i would set up a server for fun. Real quick I made the mistake of exiting full screen on the MAC and now I have a screen that is 1pixel by 1pixel.I know there is a config file somewhere.. but I can't find it. Can you point me

[2016-07-22 12:58] jdolan commented on #147
Yes! That's another bug that should be fixed in the latest build, actually. But the file resides in `~/.quetoo/default/quetoo.cfg` -- that's `/Users/your_user/.quetoo/default/quetoo.cfg`

[2016-07-22 13:42] jar3817 commented on #147
You can also just launch from the command line with `+set r_fullscreen 1` option set...

[2016-07-22 14:58] jbest2015 commented on #147
All, thank you the new version works I did notice i had to implement the connect command as a string Connect "x.x.x.x" where as x.x.x.x worked previously. Not a big deal, I saw the issue. but in case some one else asked. Great work on the game, can't wait to play with my friends. Do you know a good place to find all of the old skins? we used to have some hillarious ones like a sheep with a rocket

[2016-07-22 15:20] #147 closed

[2016-07-22 15:24] jdolan commented on #147
Haha, oh, I remember those skins..

Quetoo actually uses Q3 player models, tho, with a slightly modified animation definition. Adopting Q3 models to Quetoo is not hard. Take a look at `player-qforcer.pk3` and `player-gork.pk3` inside of `Quetoo.app/Contents/Resources/default`. They are just ZIP files.

[2016-07-22 15:30] jbest2015 commented on #147
Awesome, I will check it out, also I think you have the same problem with the Windows 10 build. I wish I was a better coder, I would help.

From: Jay Dolan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: jdolan/quetoo <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, July 22, 2016 at 9:24 AM
To: jdolan/quetoo <quetoo@noreply.github.com<mailto:quetoo@norepl

[2016-07-27 16:23] jdolan commented on #143
@Panjoo Would you want to provide different hit sounds for damage inflicted? I'd suggest 3 different sounds, but.. it could be your call.

[2016-07-27 16:30] WickedShell opened #148 "Player respawns with non 0 velocity they had when they died"
If you were stuck in a wall (or falling/shooting up) when you respawn you will still have a velocity component causing you to shoot up or down when you respawn.

[2016-07-29 02:55] WickedShell opened #149 "Player can get stuck in non-axial creases"
Encountered on windows build (july 19th)

Attatched demo shows reproducing

[falling_space_and_time.zip](https://github.com/jdolan/quetoo/files/389796/falling_space_and_time.zip)

[2016-07-29 05:53] #144 closed

[2016-07-29 05:55] WickedShell commented on #144
Was pixel packing again, instead of putting the setup code out in init on start up I left it in the screenshot function, since

A) that's where we need it
B) last time I put it elsewhere it was somehow deleted afterwards, so I'm trying to tightly associate why it was needed.

[2016-07-29 11:12] jdolan commented on #144
💯

[2016-07-29 11:25] jdolan commented on #149
CC @Panjoo

`PM_DEBUG` is defined to `1` in the current build, so enabling `debug 1` at the console should reveal `Pm_Move` hints. My hunch is that you are going to see lots of:

   Pm_GoodPosition: all solid at x, y, z

And, when stuck in walls or falling through floors, an occasional:

    Pm_GoodPosition: still solid at x, y, z

Here's the stinker:
https://github.com/jdolan/quetoo/blob/master/s

[2016-07-29 11:28] jdolan commented on #149
Btw, one reason I would like to keep the 32 bit entity positions, if possible, is that it allows us to (theoretically) have maps that exceed `+/-4096`. The 16 bit coordinate packing from Quake2 overflows just beyond this point. This is why, in Quake2, if you managed to fall through the bottom of a map, you rather quickly fall right back down through the top of it. You only have to fall few thousan

[2016-07-29 11:59] jdolan commented on #145
Some relevant bits from ioq3:
https://github.com/ioquake/ioq3/blob/master/code/cgame/cg_players.c#L1290

[2016-07-29 12:01] jdolan opened #150 "Add breath puffs to client entities in rain or snow"
This would be a cute little feature to borrow from the Q3 mission packs:

https://github.com/ioquake/ioq3/blob/master/code/cgame/cg_players.c#L1541

[2016-07-30 00:19] jdolan commented on #145
@Panjoo When you fixed our model files, do you know if you updated the `link.cfg`'s? I wonder if that's all this is.. fixed weapon models with stale link.cfg files?

[2016-07-31 14:33] jdolan commented on #145
I've figured out what's wrong and will be addressing this in the nuclear-option branch.

[2016-07-31 14:39] jdolan commented on #145
Oh, @Panjoo it was nothing you did with the `link.cfg`'s. It's my shit code ;)

[2016-07-31 20:16] jdolan commented on #138
First thing to try might be adding an `Fs_Flush` to `Con_WriteConsole` -- and if that works, we should probably add `Fs_Flush` to `Fs_CloseFile`. I don't expect this to work, tho. PhysicsFS and POSIX state that `fclose()` already invokes `fflush()`. But still worth investigating as low-haning-fruit.

[2016-07-31 20:20] WickedShell commented on #138
Might be a fix. I've noticed that the linux build will sometimes crash on
quit for me. (Another thing I had fixed in the past! WHOOOO) so it's
possible windows is doing that at the moment.

On Sun, Jul 31, 2016 at 1:16 PM, Jay Dolan <notifications@github.com> wrote:

[2016-07-31 20:22] jar3817 commented on #138
Yeah I looked at a few things like that with no success. I have a vague
recollection of trying and failing to get physfs to write in windows
previously...still looking though

On Jul 31, 2016 4:16 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-07-31 20:46] jdolan commented on #138
That's crazy. Maybe we should hit up the PhysicsFS mailing list, then.

http://icculus.org/mailman/listinfo/physfs

The author / maintainer, Ryan Gordon (Icculus) is @ryan in #icculus.org on Freenode, too. Side note, he's also one of the SDL core maintainers. A lot of this game runs on his code!

[2016-07-31 22:55] jdolan commented on #145
The code fix for this is in, but link.cfg's and view.cfg's require tweaking. When the menus are ready to go, I'll get to that.

[2016-07-31 22:58] jdolan commented on #105
http://ci.quetoo.org is now a Jenkins instance running on the quetoo.org server. It has 2 slaves that live in EC2: Debian Jesse for Linux builds, and Fedora for MinGW. I still cut the Mac builds from my Macbook, but I don't always remember to do this, so an automated solution would of course be better.

[2016-07-31 23:10] jdolan opened #151 "Add "hand" CVAR_USERINFO for positioning the view weapon"
Seems it would be easy enough to add a `Y` translation on the view model of `6`, `0` or `-6` based on the value of a cvar. We'd have to update the game code so that `G_InitProjectile` took this into account. Players could even setup binds to quickly change this, enabling them to fire around corners, etc.

[2016-07-31 23:12] WickedShell commented on #151
cg_draw_weapon_y or some such does this already doesn't it?

On Sun, Jul 31, 2016 at 4:10 PM, Jay Dolan <notifications@github.com> wrote:

[2016-07-31 23:18] jdolan commented on #151
It does, but that's more of a developer tool for tweaking `view.cfg` It does nothing server-side to change the origin of your projectiles, which is what's really needed to make this feature look and behave as expected.

[2016-08-01 06:12] maci0 commented on #105
At one point I had Mac builds working on Fedora using https://github.com/tpoechtrager/osxcross just generating the .dmg with an icon etc didn't work. The actual binaries produced worked just fine.
There is also http://www.macincloud.com/pricing/compare but that is somewhat pricey though.
Virtualizing macos on unsupported hardware using qemu/kvm, while in possible is against apples EULA.

[2016-08-06 13:03] jdolan opened #152 "Sticking to jump pads"
For some reason, you have to jump onto a `trigger_push` to be thrown upwards. If you walk into it, 9/10 times you'll just get stuck.

[2016-08-06 13:13] jdolan opened #153 "Re-introduce pak command line utility"
There's no option for Mac and Linux users to manipulate legacy game data files. We used to have one, but I threw it away when we moved to PhysicsFS. It wouldn't be that hard to re-introduce it, using PhysicsFS (I think?).

Here's the old code:
https://github.com/jdolan/quetoo/blob/6de5f55175ee326b97204cf32877529cc785be87/src/tools/pak/main.c
https://github.com/jdolan/quetoo/blob/05696bf7c6a2da4b39

[2016-08-10 11:51] jdolan opened #154 "Use SDL_GetTicks instead of platform-dependent Sys_Milliseconds code"
I just realized that SDL has `SDL_GetTicks` which returns millis since `SDL_Init`. Perfect! Let's use that and kill off some non-portable code (`Sys_Milliseconds`).

[2016-09-08 00:15] smanolloff opened #155 "pdcurses vs ncurses"
Hi,

in order to compile this on OSX 10.8.2, I had to manually replace `-lpdcurses` with `-lncurses` in the below files:

[code]

I initially tried compiling pdcurses from [here](http://pdcurses.sourceforge.net/), but it only compiles for sdl1 and quetoo's make gave me ~10 errors (`Symbol not found: _AudioUnitInitialize`, etc -- stuff from sdl1 that got removed in sdl2)

Also, just as a note (it i

[2016-09-08 12:26] jdolan commented on #155
Hi,

Wow, good find:
https://github.com/jdolan/quetoo/blob/master/configure.ac#L132

If I had to guess, I'd wager that I hacked `pdcurses` in there for MinGW, and forgot to conditionalize it or something. I'm on OS X myself, but surprisingly, this hasn't broken my build.

Glad you like the game! You may want to checkout the `nuclear-option` branch to see the new menus that are in development. It'l

[2016-09-08 13:08] smanolloff commented on #155
Glad I was able to help, I will give the nuclear-option it a try this week!
Unfortunately, I do not code in C and I can't really help you with the dev part :/ I'd be more helpful as a "user", and I will do my best in this regard :)

[2016-09-08 13:09] jdolan commented on #155
👍

[2016-09-14 01:57] jdolan commented on #151
Donez0r.

[2016-09-14 01:57] #151 closed

[2016-09-14 01:59] jdolan commented on #155
In looking at this more closely, I see that the check for pdcurses only takes place if the check for ncurses fails:

[code]

Your version of ncurses must not provide a `pkg-config` file. Is it from Homebrew? Mine is from Macports. Maybe that's the difference.

[2016-09-14 02:04] jdolan commented on #152
Fixed.

[2016-09-14 02:04] #152 closed

[2016-09-14 03:04] jdolan opened #157 "Write a console C application for Windows updater"
This way the Windows updater can have an icon, and maybe behave a little better.

[2016-09-14 21:30] smanolloff commented on #155
Yes, its from Homebrew, I don't use Macports.

[2016-09-14 21:53] jdolan commented on #155
Yea, `brew` is definitely easier for most things. I only use Macports because it makes creating distributable builds simpler. Anyway, I'm going to close this out of that's okay.

[2016-09-15 02:27] jdolan commented on #157
This is complete, and available in the current build. Waiting for verification from a Windows user. @WickedShell do you mind giving it a whirl?

[2016-09-15 02:27] #155 closed

[2016-09-15 09:08] smanolloff commented on #155
👍  a small note in the readme would be great

[2016-09-15 13:00] jdolan commented on #149
@Panjoo Some improvements worth testing here. I *think* it'll be much, much harder to fall out of the map now. I found a definite hole in my logic (get it?). And hopefully you'll notice less jittering in corners, and less sticking to walls.

[2016-09-15 13:48] jdolan commented on #157
@jar3817 Could you confirm if the update.exe has an icon and runs correctly?

[2016-09-15 13:48] jdolan commented on #157
Sorry, it's `quetoo-update.exe`.

[2016-09-15 14:39] jdolan opened #158 "Re-introduce door_mid and plat_mid looped sounds"
These were commented out because the sound samples did not cleanly loop. Anthony fixed the samples, so we should turn these back on.

[2016-09-15 14:44] #133 closed

[2016-09-16 15:40] vtorresortiz opened #159 "quetoo crash on OS X El Capitan"
Hi, today i download quetoo and i can't play it
It crash before and after quetoo-update

This is the trace

[code]

Thanks!

[2016-09-16 15:45] jdolan commented on #159
Ah, thanks! Good to know! Windows had the same issue, and so I know how to fix this.

[2016-09-16 16:16] jdolan commented on #159
https://www.freedesktop.org/software/fontconfig/fontconfig-devel/fcconfigfilename.html

[2016-09-16 16:18] jdolan commented on #159
@vtorresortiz I will get a fix for this in tonight, but if you want to get Quetoo going before then, feel free to build from source. You'll need to install MacPorts or Homebrew, and also build Objectively and ObjectivelyMVC from source.

 * https://github.com/jdolan/Objectively
 * https://github.com/jdolan/ObjectivelyMVC

[2016-09-16 21:04] Panjoo commented on #149
Getting stuck seems to happen a lot less now so that's good, but it's not impossible and I did get snagged briefly one or two times...
BTW jittering didn't happen in corners but when moving along walls. It's not 100% gone unfortunately but definitely much better.

[2016-09-16 21:22] vtorresortiz commented on #159
@jdolan I can't build quetoo because i am having this error

[code]

Then forcing nurses i have this error, using libxml2 from homebrew and gnome git
[code]

[2016-09-16 22:20] jdolan commented on #159
The mainline build is fixed. You should be able to update and run that.

As for compiling, unless you're willing to tweak `CFLAGS` and `LDFLAGS`, etc.. you're better off installing our dependencies via MacPorts. Brew takes some shortcuts and does some interesting things, like not installing `pkg-config` files for packages like `ncurses`. Every mainstream Linux distro, and MacPorts as well, uses an

[2016-09-16 22:23] jdolan commented on #149
Brief hangups along creases and corners, right?

[2016-09-16 22:53] Panjoo commented on #149
If believe it happened one time in middle of a long wall on slimyplace, but I can't test this now because I updated with that snapshot which won't run for some reason.

[2016-09-17 00:16] jdolan commented on #149
That's so strange. I confirmed that the `quetoo-update.exe` from the i686 snapshot is pulling from the right repository.

Will `quetoo-update.exe` not run, or will the `quetoo.exe` that it pulls down not run?

[2016-09-17 00:55] Panjoo commented on #149
OK, now I suddenly see: **_Installer for 32 bit Windows 7 or later_** on the website, wasn't there when you told me to try it(?). Will try that tomorrow and report back:)

[2016-09-17 00:59] jdolan commented on #149
Yes, I added the link, but the file has been available for a few weeks from Jenkins (http://ci.quetoo.org). Sorry bud! :D

[2016-09-17 02:04] #159 closed

[2016-09-17 02:05] jdolan commented on #157
This is done.

[2016-09-17 02:05] #157 closed

[2016-09-17 02:07] jdolan commented on #145
Fixed.

[2016-09-17 02:07] #145 closed

[2016-09-17 02:23] jdolan commented on #143
Done. Went with just hit_1 and hit_2. I think 3 would actually be weird / distracting.

[2016-09-17 02:23] #143 closed

[2016-09-17 03:06] jdolan opened #160 "Player and corpse bounding boxes are not clipping correctly"
Collision with projectiles, and possibly (probably?) with other players is incorrect. Hopefully this is just a matter of bounding boxes not being set correctly.

[2016-09-17 03:08] jdolan opened #161 "Animation jitter with packet loss"
Anytime there's a packet lost, animations and entity state seem to jitter:

 * View weapon kicks
 * Corpses jump off the ground
 * Other clients drop / raise their weapons

[2016-09-17 03:11] WickedShell opened #162 "Weapon delay problems"
Firing a weapon that has a delay time you can swap away from the weapon and it will still shoot after the timer has expired, even if the player has died or is on a different weapon.

Firing should block weapon swaps as well.

[2016-09-17 03:14] WickedShell opened #163 "Allow giblets, corpses and nades to use teleporters"
Nade's should be able to teleport like people. Maybe rockets as well, although that one seems a bit more abuse prone?

[2016-09-17 03:15] WickedShell opened #164 "Rocket effects are too small"
Rocket trails look to much like a blaster (and are actually a skinnier trail) which makes it hard to distinguish which is coming at you (a larger rocket model might help as well), and the explosion effect needs to cover a larger area to both give you a better sense of where the damage is occurring as well as giving it more weight. The damage it does is all out of proportion to the visual impact of

[2016-09-17 13:02] jdolan commented on #163
Agreed on 'nades, and agreed on not rockets.

[2016-09-17 13:03] jdolan commented on #162
Yep, this is a good one.

[2016-09-17 14:45] Panjoo commented on #164
^ Agreed :)
And the newer sound is nice in itself but it does feel a bit tame now. I think it would be better if the rockets sound like they have some more explosion force behind them.

[2016-09-17 14:48] jdolan opened #165 "Crash on quit in Windows"
The Windows build (at least, i686) crashes on quit. Confirmed by @jar3817 and @Panjoo. We'll need a `gdb` backtrace of what is going on.

CC @WickedShell in case you're able to help with debugging.

[2016-09-17 14:49] jdolan opened #166 "Windows crash on r_screenshot"
The windows build (i686, possibly x86_64?) crashes when taking a screenshot. We'll need a `gdb` backtrace to figure this out.

CC @WickedShell @Panjoo

[2016-09-17 14:50] jar3817 commented on #165
64 bit does it too now. That changed yesterday...

On Sep 17, 2016 10:48 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-17 16:19] tapir opened #167 "No package 'ObjectivelyMVC' found"
The build instructions are out of date.
`./configure --prefix=/usr` gives the error in the title.
I think this should be included in the source since no distro will have that package.

[2016-09-17 16:29] jar3817 commented on #167
I built it last night without an error...

On Sep 17, 2016 12:19 PM, "Coşku Baş" <notifications@github.com> wrote:

[2016-09-17 16:31] tapir commented on #167
What I mean is that, it's not documented that Objectively and ObjectivelyMVC should be installed anywhere

[2016-09-17 16:36] jdolan commented on #167
Right. We *just* merged the new menus (which introduced the dependencies on Objectively and ObjectivelyMVC) this week. I agree that we need some documentation to reflect this. We will not be including them in the source tree, tho.

[2016-09-17 16:37] tapir commented on #167
That's a shame since anybody willing to compile quetoo now has to compile 2 more libraries beforehand. Anyway I'm creaying AUR packages right now for making it easier for at least arch users.

[2016-09-17 16:39] jdolan commented on #167
Awesome! Thanks for packaging these. Objectively and ObjectivelyMVC are reusable, general purpose libraries. I'd rather encourage the packaging of them by distros, than bundle them in the source. That said, maybe we could add some `./configure` magic that looks for them and, if not installed, fetches them via Git submodules?

[2016-09-17 16:42] jdolan commented on #164
CC @anthonywebb1

[2016-09-17 16:43] jdolan commented on #164
I think there's an issue with the particle effects in general and network latency. The effects become very sparse the worse your connection is. I think that alone would alleviate this issue.

I pushed a commit that makes the smoke trail more visible, which definitely helps discern rockets from blaster projectiles. I think the larger issue here is the particle trail diminishing with lag.

CC'ed Ant

[2016-09-17 17:00] jdolan commented on #165
I think maybe it's the luck of the draw. There may be some race condition on quit.. I didn't change anything in the engine yesterday that would have affected this.

[2016-09-17 17:20] tapir commented on #167
Objectively and ObjectivelyMVC are successfully built with these PKGBUILDS
https://aur.archlinux.org/packages/objectively-git/
https://aur.archlinux.org/packages/objectivelymvc-git/

Though, I'm having this error while compiling quetoo from git:
[code]

Any ideas?

[2016-09-17 17:36] anthonywebb1 commented on #164
Hi Jay

I'll take a look at this when I can, I was thinking that the RL sounds a bit quiet too, so I was planning on adjusting it anyway.

Unfortunately my audio interface decided to completely die, meaning I can't do any more work until the new one arrives on Monday [☹]

________________________________
From: Jay Dolan <notifications@github.com>
Sent: 17 September 2016 17:43
To: jdolan/quetoo
Cc:

[2016-09-17 17:40] jdolan commented on #160
![quetoo009](https://cloud.githubusercontent.com/assets/643118/18609928/39760d16-7cdc-11e6-8e26-2383d8fff597.jpg)

New cvar `r_draw_entity_bounds` and major protocol change to send over bounding boxes for all mesh entities reveals that the bounds are correct. There's something else going on here.

[2016-09-17 17:45] tapir commented on #167
A quick google search shows this has something to do with the order of the linked libraries. So it's possible that it should be fixed from autoconf files.

[2016-09-17 17:50] jdolan commented on #167
Strange! I've never see that error anywhere before, nevermind with Quetoo. I looked at your Pkgfile and it looks perfectly sane / vanilla. I'm stumped!

[2016-09-17 17:51] jdolan commented on #167
Okay, I see this: http://stackoverflow.com/questions/19901934/strange-linking-error-dso-missing-from-command-line

[2016-09-17 17:55] tapir commented on #167
So from what I understand it's looking for the symbol '_cast' and it can't find it because the link order is not correct.

[2016-09-17 17:56] jdolan commented on #167
Maybe it's because I'm not even explicitly adding -lObjectivelyMVC, let's try that.

[2016-09-17 17:57] jdolan commented on #167
See 57c5493.

[2016-09-17 17:58] jdolan commented on #167
(It's really strange that OS X, Fedora and Debian don't have this issue -- not even MinGW-w64 on Fedora has any problem linking Quetoo.)

[2016-09-17 18:02] tapir commented on #167
Unfortunately didn't fix the problem.

[2016-09-17 18:03] tapir commented on #167
I'm also concerned about this line `/usr/lib/libObjectively.so.0: error adding symbols: DSO missing from command line` why is there a libObjectively.so.0 error? Maybe something wrong with the compiled so library?

[2016-09-17 18:04] jdolan commented on #167
This is really strange, tho. Why haven't we seen this on any other system? What compiler are you using?

[2016-09-17 18:05] jdolan commented on #167
Also, the fact that ObjectivelyMVC built and linked against libObjectively.so implies that Objectively is fine. Just curious, did you try building and running the Hello example in ObjectivelyMVC?

[2016-09-17 18:11] tapir commented on #167
I'm using gcc 6.2.1
I'll try to build the Hello example

[2016-09-17 18:15] tapir commented on #167
Tried to build Hello app with this
[code]
I get this error
[code]
Then I try this
[code]
And it compiles successfully.

BUT... The app segfaults with `INFO: View:bindView: Instantiating View of class Panel`

[2016-09-17 18:36] jdolan commented on #167
Okay. I've made a couple fixes to the Pkgconfig files for Objectively and ObjectivelyMVC based on your findings. This is helpful. Thanks for putting up with it.

I'm hoping that the crash you're seeing in the example is indicative of something simple, and not some strange bug unique to GCC 6.x.

Any chance you could run it in `gdb` and post a backtrace? Also, it might be time we move this issue to

[2016-09-17 18:46] tapir commented on #167
Now it compiles and works. Thank! I'll close this and come up with a backtrace for mvc

[2016-09-17 18:46] #167 closed

[2016-09-17 20:18] WickedShell commented on #160
Still a nice debug tool!

On Sep 17, 2016 10:40 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-18 01:05] jdolan opened #168 "Platform middle sound is way messed up"
Not sure if it's the sample, or if the game is triggering it every frame or something, but it's bad.

[2016-09-18 01:06] jdolan opened #169 "Chat HUD doesn't reset colors correctly"
Alternating player names will sometimes confuse / reset the text color in the chat HUD.

[2016-09-18 01:06] jdolan opened #170 "func_plats are blocked by players when they should crush them"
Really noticeable on Edge.

[2016-09-18 01:08] jdolan opened #171 "Sound spatialization code still sucks"
The sound mixing is fucking horrible. Either rewrite it, or replace it when OpenAL.

[2016-09-18 01:23] WickedShell opened #172 "Players interpentetrate"
No telefragging, if 2 clients jump at each other they will hang in air where ever they meet, even if the ground isn't there. When they randomly slide apart one player can be pushed into the floor.

[2016-09-18 01:28] WickedShell commented on #172
Demo from KaadmY https://usercontent.irccloud-cdn.com/file/XmiquUz2/collisionbug_1.demo

[2016-09-18 01:30] WickedShell opened #173 "Player box is to big"
Players can be considered standing on a ledge when their entire model is in free space

[2016-09-18 01:33] WickedShell opened #174 "Demo playback server appears in server browser"
(And you can't actually connect to it)

[2016-09-18 01:47] WickedShell opened #175 "Viewmodels don't have a visual indication that the weapon is ready to fire again"
We should play with model position or coloring to indicate the gun can be fired again. If this is already present then I totally missed it and it might be to subtle. I kept not being sure when I could shoot a rail or SSG which lead to a lot of attempts to shoot, not getting the shot then just frantically clicking the button till it shot.

[2016-09-18 01:54] jdolan commented on #173
I know, but we're using Quake2's bbox. Changing the bbox is a huge fail, trust me. Btw, on an offline server (`sv_max_clients 1`), you can now see exactly what the bbox looks like with `r_draw_entity_bounds 1`.

[2016-09-18 02:21] tapir opened #176 "Collision bug"
Here is a demo I've recorded on a test map
[collision_bug.demo.zip](https://github.com/jdolan/quetoo/files/478483/collision_bug.demo.zip)

Player sticks to the walls

[2016-09-18 02:34] jdolan commented on #176
Yep, we're well aware ;)

[2016-09-18 05:07] jdolan commented on #172
Yea, I spent a while tracking this one down tonight. I *think* that this one, and the quirky behavior of hit-scan weapons only impacting the lower half of players, are related. Specifically, I think there is something wrong with `Cm_InitBoxHull`, `Cm_SetBoxHull`, or `Cm_TransformedBoxTrace`. Is this something you could take a look at?

[2016-09-18 05:09] jdolan commented on #176
I think this is actually fixed in the latest build. Please retest!

[2016-09-18 05:10] jdolan commented on #173
We're just not going to fix this, sorry.

[2016-09-18 05:10] #173 closed

[2016-09-18 05:11] jdolan commented on #149
@Panjoo can you please retest the very latest build? I think we might be good here, finally.

[2016-09-18 05:12] jdolan commented on #160
This is halfway fixed. Projectiles now use a new solid type, `SOLID_PROJECTILE`, which encapsulates similar logic to Quake2's old `SVF_DEADMONSTER` hack. That is, projectiles can interact with `SOLID_BOX` (players) without clipping their movement.

What is still broken is hit-scan weapons. See #172.

[2016-09-18 08:43] tapir commented on #176
It's actually worst now. It doesn't slide at all. The player is forever stuck
[collision.r2758.demo.zip](https://github.com/jdolan/quetoo/files/478600/collision.r2758.demo.zip)

[2016-09-18 12:05] Panjoo commented on #170
Ehm? Do you mean that if a player gets in between the ceiling and the lift or under the lift when it comes back down, it should keep pressing until the player moves away or even until he dies?
On the q2 dm maps the lifts are not supposed to crush you but just move back up so you can deny players from dropping down the shaft, it's a tactical thing. I wouldn't change that behaviour as it's always be

[2016-09-18 13:52] Panjoo commented on #175
Maybe an idea to change the crosshair color so that upon firing it turns and stays red during the reload time and then switches back after reload time is over? Although that would probably be _only_ good for the slower weapons with a longer pause like SSG, GL, RL, RG and BFG.
Don't know if something like this would be possible without messing with the userinfo or however that works. Might even be

[2016-09-18 14:06] jdolan commented on #170
👍 I think the plats are not even attempting to come down / inflict damage, even when they are set to. I'm with you, tho.

[2016-09-18 14:07] jdolan commented on #175
I *love* the idea of a HUD indicator or crosshair color change. Nice one!

[2016-09-18 14:08] jdolan commented on #176
I don't have your `test.bsp` :)

[2016-09-18 14:25] jdolan commented on #161
Possibly related to #141

[2016-09-18 15:23] tapir commented on #176
ahh sorry I knew I forgot something. Will send it tomorrow

On 18 Sep 2016 17:08, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-18 15:27] jdolan opened #177 "Windows updater fails to run on paths with spaces (e.g. C:\Program Files\Quetoo)"
Not sure how `cygwin` / `rsync` handle quoting, but we should figure this one out.

[2016-09-18 15:34] jdolan opened #178 "Windows build fails because of missing MSVSCR110.dll"
Apparently quetoo.exe requires the MSVCR110.dll shared library. On the Fedora cross-compilation host, there does exist a `libmsvcr110.a` static library. We should either figure out how to statically link the C runtime for MinGW, or we should find and bundle the shared library.

[2016-09-18 15:37] jdolan commented on #132
Tons of work has been done here. The major task left is finishing the *Create Server* menu.

[2016-09-18 15:38] #3 closed

[2016-09-18 15:38] #4 closed, assigned to nobody

[2016-09-18 16:09] jdolan opened #179 "Windows build fails to start"
It looks like, at least on some systems, MinGW's onexit wrapper is unhappy. This mechanism is used by Objectively to teardown the class hierarchy when the application terminates:

[code]

[2016-09-18 16:20] jdolan commented on #178
@jar3817 It seems like we're not the only ones to have this one. It's a very widely asked question, with a simple enough answer right from Microsoft. If you feel like this isn't worth fixing, and that folks will have or should just install `msvcr110.dll`, then I am okay with closing this. I defer to your judgement. You're more of a Windows expert than I am.

[2016-09-18 16:33] jdolan commented on #179
Took this one to StackOverflow:
http://stackoverflow.com/questions/39560050/mingw-cross-compiled-application-atexit-mingw-onexit-crashes-on-windows-10

[2016-09-18 19:00] jdolan commented on #172
Here's the rev where this shat the bed: 16cc24165a4fcb3129b810306b53159df0106c22

[2016-09-18 19:26] WickedShell commented on #170
The real problem is that you can shoot yourself into a wall, then the plat
won't move as it can't push you. At a minimum we should cause damage here
to get out of the situation, but we really just need to avoid it. The
collision stuff is the real source of this one.

On Sep 18, 2016 7:06 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-18 19:42] WickedShell commented on #175
On a related note BFG needs to collect light at the tip of the gun or something to give the player feedback that it's charging and to let other people on the map know thats happening. I normally play with sound disabled buy do we have a sound effect for while its charging up?

[2016-09-18 19:46] jdolan commented on #175
That'd be great. Build it. ;)

[2016-09-18 20:29] jdolan commented on #172
@WickedShell please re-test. This is fixed now.

[2016-09-18 20:36] jdolan commented on #160
\o/ fixed.

[2016-09-18 20:36] #160 closed

[2016-09-18 21:26] jdolan commented on #162
I disagree with disabling weapon swaps. So right now, you can prime your BFG, but then change weapons. The fire sound is not heard.

I like to think of it has holding down a long trigger on the BFG: if you die, it doesn't go off. If you stop holding the trigger (by changing weapons), it also doesn't go off.

[2016-09-18 21:28] WickedShell commented on #162
It's a bit weird as you can prime the BFG before going around any corner with impunity but not waste the ammo. I'm of the opinion it should lock you into shooting it, and if you die it should emit a explosion in place (messed up firing sequence).

Also it's hard to address the swap thing if you fix it while I'm still trying to get a server to compile :D

[2016-09-18 21:57] jdolan commented on #162
We're talking about a 1s priming interval. Not a lot of time to change your mind unless you're already looking at the opponent. I'm inclined to call this one fixed.

[2016-09-18 22:09] WickedShell commented on #162
I can just see it being like q1 where everyone runs around with the shotgun out all the time except when firing so that they don't drop a better weapon :) I'm happy to try it first, as long as it doesn't shoot after a swap (or a swap and swap back) I'm fine with it :)

[2016-09-18 22:49] #162 closed

[2016-09-19 02:34] jdolan commented on #141
Fixed.

[2016-09-19 02:34] #141 closed

[2016-09-19 02:35] jdolan commented on #161
Fixed.

[2016-09-19 02:35] #161 closed

[2016-09-19 02:36] jdolan commented on #172
Aside from minor pmove issues with respect to standing on each other's heads and crouching, I don't see this as a bug anymore. Closing.

[2016-09-19 02:36] #172 closed

[2016-09-19 02:37] jdolan commented on #176
We did some play testing this evening after a major collision fix (4701bac) and there were no hangups / weird clipping issues. Could you please re-test this and let us know if it's fixed for you?

[2016-09-19 02:48] jdolan commented on #169
Fixed.

[2016-09-19 02:48] #169 closed

[2016-09-19 02:54] jdolan commented on #176
I'm actually going to close this out as it is a duplicate of #149. Also, I can still get stuck in a few very select places (e.g. lava pit in middle arena of The Frag Pipe). So this issue is still valid, but let's track it in that older ticket.

[2016-09-19 02:54] #176 closed

[2016-09-19 03:02] #174 closed

[2016-09-19 03:11] jdolan commented on #148
I can't reproduce this. I bound a key to `kill`, and killed myself while plummeting *down* onto the large `trigger_push` on Gehenna. This threw my corpse back up in the air. But by the time I could respawn, my velocity was zilch. Still going to put a fix in.

[2016-09-19 03:14] #148 closed

[2016-09-19 03:26] WickedShell opened #182 "Windows: net_interface doesn't select a working interface"
If there are multiple connected adapters then the network won't always work if the wrong one is selected. I'm not sure if there is a way to ask windows which one is connected or not though.

A easy workaround would be to try to reach the master server, if no response after 2 seconds, try the next connected interface etc.

Marking as major, as this is a really subtle bug on Windows that isn't obvio

[2016-09-19 03:52] jdolan commented on #182
I like the idea. Why not broadcast to master on all interfaces, and see which one comes back [first]?

[2016-09-19 03:54] jdolan commented on #163
A check on `G_IsMeat` could allow gibs and corpses to pass through. Delta angles would have to be applied manually.

[2016-09-19 04:27] WickedShell commented on #148
I was doing it by RJing on tokays to kill myself and respawning before I
hit the ground. I would spawn with my previous velocity and hit the ground
and take fall damage. Will test the fix in a bit.

On Sun, Sep 18, 2016 at 8:14 PM, Jay Dolan <notifications@github.com> wrote:

[2016-09-19 04:27] WickedShell commented on #182
Sounds even better, I'm not sure from a code side how the interfaces are
found at the moment but this is definitely the better approach.

On Sun, Sep 18, 2016 at 8:52 PM, Jay Dolan <notifications@github.com> wrote:

[2016-09-19 12:42] jdolan commented on #182
I realized this morning that we were passing `""` to `Net_Socket`, from `Net_Config`. I've fixed this so that, if `net_interface` is not set, it will pass `NULL`, which will result in binding the socket to any / all interfaces. Could you re-test? I bet this is fixed.

[2016-09-19 12:50] jdolan commented on #165
CC @WickedShell Maybe you'll have some luck getting a backtrace out of this sucker on Windows?

[2016-09-19 13:57] jdolan commented on #170
Okay, so collision bugs aside. Assuming the plats collided correctly with players, and could push them or inflict their configured damage, what's wrong here? Is it that the `func_plat`s on Edge do not inflict damage? (They are not set to in the entity definition). Is it that `func_plat`s should crush / kill `CONTENTS_DEADMONSTER`? What's the fix here?

[2016-09-19 13:59] jdolan commented on #170
I'd argue that giblets should never block a func_plat *unless* that giblet is actually the dead client (gibbed and not yet respawned). Corpses, on the other hand, could / should block a func_plat. It's up to the other players to obliterate that corpse.

[2016-09-19 14:10] jdolan commented on #177
Just doing a little reading.. it sounds like, even tho we're passing `argv` to the process explicitly, we still may have to quote paths that contain spaces. I think we could just always quote the target directory.

[2016-09-19 14:52] tapir commented on #149
[maps.zip](https://github.com/jdolan/quetoo/files/480266/maps.zip)

Here is the bsp and map file, compiled with the latest revision quemap and the walls still get stick

[2016-09-19 16:10] jdolan commented on #179
I think it might depend on which flavor of the MSVC runtime your system has on it. I can't think of why else this would work for some people and not for others.

[2016-09-19 16:41] #154 closed

[2016-09-19 18:36] tapir commented on #166
I'll send the bt when I'm at the office tomorrow

[2016-09-19 18:38] tapir commented on #171
:+1:  for OpenAL. Good 3D mixing is a very hard job to do correctly.

[2016-09-19 18:44] tapir commented on #178
Isn't it legal to distribute `msvcr110.dll` ? I see *a lot* of apps that comes prepackaged with it.

[2016-09-19 19:13] jdolan commented on #178
I have no idea if it's legal, or common, etc.. to distribute it.

[2016-09-19 19:46] tapir opened #186 "target_light colors key should default to 1.0"
Otherwise quetoo crashes

[2016-09-19 19:49] jdolan opened #187 "target_light crashes with no color specified"
The `target_light` entity needs a safeguard for parsing the color string. If not set, it should default to the string `"white"`, which -- I believe -- `G_ColorByName` will resolve correctly.

[2016-09-19 19:51] tapir commented on #186
duplicate of #187

[2016-09-19 19:51] #186 closed

[2016-09-19 19:54] jar3817 commented on #178
Legal, schmegal...

On Sep 19, 2016 3:13 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-19 20:17] WickedShell commented on #170
I'd think the plat should smash the corpse into a beautiful pile of gibs!
(If the lift is commanded to move).

I think the giblets need to be consistent though, IE there shouldn't be one
special one that blocks a plat. The plat should just pulp the giblet into
blood, if the giblet was the player respawn them in the end map view as
spec or something until they command a respawn.

The only time I th

[2016-09-19 20:33] WickedShell commented on #182
That fixes the bug :)

[2016-09-19 20:33] #182 closed

[2016-09-19 20:40] jdolan commented on #179
CC @Paril @tapir

[2016-09-19 20:40] jdolan commented on #178
@Paril You probably know what the right thing to do here is..

[2016-09-19 20:41] jdolan commented on #165
CC @Paril @tapir

[2016-09-20 21:50] Panjoo opened #188 "On Windows, when Keys menu is open the game exits on ` (backquote) followed by Escape."
Probably different key combination on a Mac, but when I'm in the Keys menu and hit ` (backquote or ~tilde) and then Escape the game exits, no warnings or errors just exits. Only happens while the Keys menu is open. Like magic!

[2016-09-20 22:10] Panjoo opened #189 "Rocketjump has too much supa powaz now that air friction has been reduced:)"
I mean, on Tokays I could even rocketjump from the lower GL all the way up to the SSG bridge!

[2016-09-20 22:13] WickedShell commented on #189
Related note: Hyperblaster climb should cause some self damage

On Tue, Sep 20, 2016 at 3:10 PM, Panjoo <notifications@github.com> wrote:

[2016-09-20 22:57] jdolan commented on #189
Yea, sorry. Will fix :)

[2016-09-21 00:11] jdolan commented on #188
Sounds like a crash! Thanks!

[2016-09-21 01:27] jdolan commented on #171
I found some definite bugs here around channels never being freed up for new voices to play on them. With some initial play testing with 5 players, I didn't notice any missing samples. Marking this one fixed. We can revisit OpenAL when we have time / specific interest in it.

[2016-09-21 02:55] kaadmy opened #191 "Menu background"
As the current menu has no background, I decided to make one.
It's mostly a mockup, I can make changes if it's not high quality enough yet.

https://usercontent.irccloud-cdn.com/file/po96D5Ve/quetoo_menu_bg_2.png

**Edit**: new image

[2016-09-21 14:34] jdolan opened #192 "Windows build crashes in certain map areas"
@WickedShell was able to consistently crash the x86_64 build by entering the lower room on _Stress Fractures_. @anthonywebb1 is able to consistently crash it by leaving the main outdoor area on _Lava Tomb_. We don't have backtraces for their crashes yet.

CC @Paril @tapir

[2016-09-21 21:08] tapir commented on #192
I could only reproduce this with Nvidia GPU. When switch my laptop to intel I don't get an crashes. Can you confirm this @WickedShell @Paril @anthonywebb1 ?

[2016-09-21 21:09] jdolan commented on #192
That's like.. the worst news I've heard all day. LOL. ;)

[2016-09-21 21:10] #187 closed

[2016-09-21 21:13] tapir commented on #179
Update on this: I can now run windows build fine except when I try to run in under gdb, it crashes with the backtrace above.

[2016-09-21 21:23] jdolan commented on #189
@WickedShell separate ticket if you want that plz.

[2016-09-21 22:24] Panjoo commented on #191
That's actually not a bad idea. Backgrounds shouldn't be obtrusive so I like that you blurred out the screenshot. I'd probably place the icon on the right side so that it won't look messy in combination with console text. That said, I would definitely prefer to use the Quetoo logo for this because... well that's the name of the game;)  Then you'll get something looking like this maybe:

![feedback

[2016-09-21 23:10] WickedShell commented on #192
GeForce 760 for me.

On Sep 21, 2016 2:09 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-22 00:26] kaadmy commented on #191
Ah, I didn't think about the console text getting in the way. I can move the logo to the opposite side.
Also the full logo looks better than the icon IMO.

[2016-09-22 14:42] #171 closed

[2016-09-22 15:53] jdolan commented on #168
Fixed.

[2016-09-22 15:53] #168 closed

[2016-09-22 16:33] anthonywebb1 commented on #192
Crashes occur using a Geforce 970 for me.

[2016-09-22 17:26] jdolan commented on #192
Can you guys try disabling GLSL in the game? At the console, type

    r_programs 0
    r_restart

And see if this crash still occurs?

[2016-09-22 17:33] WickedShell commented on #192
No problem with r_programs 1. Do we have reports of NV hardware working on
these maps under Linux? (Wondering if I can get a trace out of that)

On Thu, Sep 22, 2016 at 10:26 AM, Jay Dolan <notifications@github.com>
wrote:

[2016-09-22 17:55] tapir commented on #192
works with r_programs 0 :+1:

[2016-09-22 18:06] anthonywebb1 commented on #192
This did seem to work, on Lava tomb I was able to leave the spawn area, but it did eventually crash after a few minutes of walking around the map. Fractures works fine.

I still get quetoo.exe has stopped working when I close the game.

The main problem I'm having now is getting the game to launch. Most of the time I just get a 0xc0000142 error message, but occasionally it launches normally. Very

[2016-09-22 18:10] jdolan commented on #189
@Panjoo I dropped self-knockback gain from `1400` down to `1200`, and other-. Q2 used `1000`. This makes our RJ's feel a little more like Q3, which I always thought were better.

I've also increased the knockback your damage has on other players, from Q2's `500` to `800`. One of my favorite aspects of Quake / QuakeWorld gameplay was landing a rocket at someone's feet, and seeing them get tossed in

[2016-09-22 18:11] jdolan commented on #192
@anthonywebb1 So as to not derail your work -- I don't want to waste your time -- could you give the i686 build a test drive? While the x86_64 build also crashes on my Win10 VM, the i686 build runs.

[2016-09-22 18:13] jdolan commented on #192
You can actually "convert" your 64 bit install into i686 by downloading the i686 snapshot from the website, and extracting it over your 64 bit install. Then run quetoo-update.exe. I *think* that will work, and save you the time of re-downloading the data. If it fails, I guess just install i686 in its own folder and update from there.

[2016-09-22 18:15] jdolan commented on #192
@WickedShell I will test these maps in Debian on VirtualBox. My Macbook has an NVidia GPU. Not a very scientific test, but maybe it'll tell us something.

[2016-09-22 18:25] anthonywebb1 commented on #192
No problem, I'll let you know what happens

________________________________
From: Jay Dolan <notifications@github.com>
Sent: 22 September 2016 19:11
To: jdolan/quetoo
Cc: anthonywebb1; Mention
Subject: Re: [jdolan/quetoo] Windows build crashes in certain map areas (#192)

@anthonywebb1<https://github.com/anthonywebb1> So as to not derail your work -- I don't want to waste your time -- could you g

[2016-09-22 18:37] anthonywebb1 commented on #192
OK, this runs perfectly. No crashes while playing and no problems launching the game. Still have the quetoo.exe has stopped working message when closing the game though.

________________________________
From: Jay Dolan <notifications@github.com>
Sent: 22 September 2016 19:11
To: jdolan/quetoo
Cc: anthonywebb1; Mention
Subject: Re: [jdolan/quetoo] Windows build crashes in certain map areas (#192)

[2016-09-22 18:54] WickedShell commented on #192
@anthonywebb1 is this perfect with shaders enabled?

[2016-09-22 19:24] anthonywebb1 commented on #192
@WickedShell sorry, not sure how to enable sharers! What do I need to do?

[2016-09-22 19:26] WickedShell commented on #192
@anthonywebb1

r_programs 1
r_restart

Basically the reverse of jdolans test

[2016-09-22 19:32] anthonywebb1 commented on #192
@WickedShell @jdolan OK, yes unfortunately it still crashes on Lava Tomb and Fracture with shaders enabled.

[2016-09-22 19:35] WickedShell commented on #192
I'm trying to test my Linux machine with NV hardware but can't get it
compiled :(

On Thu, Sep 22, 2016 at 12:32 PM, anthonywebb1 <notifications@github.com>
wrote:

[2016-09-22 21:45] #189 closed

[2016-09-22 22:44] WickedShell commented on #192
Confirmed as not a problem for a NV linux machine.

[2016-09-23 03:09] jdolan commented on #191
I scaled the size down to 2560x1440, because it was just taking too long to load (and chewing through 32MB of texture memory). I also altered how the console is drawn when in-game to make good use of this image. Looks nice! Thanks @kaadmy.

[2016-09-23 03:09] #191 closed

[2016-09-23 03:19] jdolan commented on #188
This doesn't happen on OS X or Linux. @Panjoo are you still seeing this crash?

[2016-09-23 21:28] jdolan commented on #163
Attached is a little .map for testing this out. It works well! I tried adding support for grenades, but I can just see this getting abused way too much. Jump pads are one thing.. Also, it was very strange to be able to shoot a grenade through a teleporter, but not a rocket. Felt inconsistent. So the code now allows for giblets and corpses to pass through. Funny as hell.

[teletest.map.zip](https:/

[2016-09-23 21:28] #163 closed

[2016-09-23 21:37] WickedShell commented on #163
Fair enough, darkzones is inconsistent, one teleporter allows shooting
rockets through it and hitting players on the other side, the other one
causes then to explode in contact instead of traveling through and hitting
the player on the far side

On Sep 23, 2016 14:28, "Jay Dolan" <notifications@github.com> wrote:

Closed #163 <https://github.com/jdolan/quetoo/issues/163>.

—
You are receiving this

[2016-09-24 00:12] jdolan commented on #163
Thanks for pointing that out. I went ahead and fixed Dark Zone. In the future, if you wouldn't mind logging issues for these follow-up issues, that'd be a big help. Thanks again.

[2016-09-24 01:18] WickedShell commented on #163
Yeah, was out flying a plane though, email was easier :) but wilco

On Sep 23, 2016 17:12, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-24 01:52] Paril opened #197 "A few of the gear faces in lavatomb are lava"
http://i.imgur.com/fsn2krJ.jpg

A couple of these faces (where I've shot blaster) appear to be lava and hurt you. I was jumping over one and mysteriously died.

[2016-09-24 01:54] Paril commented on #188
The issue here is heap corruption, potentially of BindTextView. On MSVC, this menu crashes in View::updateBindings here:

`	free(textView->defaultText);`

[2016-09-24 02:06] Paril commented on #138
The history file is an odd one. It does load properly, but won't write. After reading through Con_WriteHistory I don't see how it could work for anybody unless you sent more than 64 lines of text.

It starts reading from the history at hist->index + i, which will always be blank _unless_ you wrap back around to index 0 from the modulo. I'm guessing that it should just be i, not hist->index + i.

[2016-09-24 02:56] jdolan commented on #197
Heh. What's actually going on here is that the func_rotating failed to move you out of its way and into a good position, so you got crushed.

[2016-09-24 03:00] jdolan commented on #188
Er, okay. Is `free(NULL)` a crash case on Windows?

[2016-09-24 03:13] jdolan commented on #150
See cg_effect.c, Cg_AddWeather for the weather checking logic.

[2016-09-24 03:14] jdolan commented on #150
And I think you can just use the Cg_SmokeTrail code, copied to Cg_BreathTrail or something like that.

[2016-09-24 03:29] jdolan commented on #138
Ugh. Because I had a long-enough history file going into the console subsystem rewrite, I never noticed that this was broken. New code, just tested with no existing history, and it works now. Can you please confirm and close?

[2016-09-24 03:30] jdolan commented on #188
@Paril do you mind testing the potential fix I pushed for this?

[2016-09-24 03:40] jdolan commented on #150
I should have thought about this more / been more specific. This should be a client-side effect, a call from Cg_AddClientEntity, call it Cg_AddClientBreath or something. In there, check weather, and if rain or snow, emit the particles.

There's a helper routine called Cg_IsDucking that is used to change the origin of muzzle flashes based on ducking. A call to this function will also be required he

[2016-09-24 05:46] WickedShell opened #199 "CGame: Allow using the cg_draw_frags/deaths/capture to control the sort"
Currently if you disable a item on the HUD the others will sit in place. It would be nice to shift the items up (if the user messes with cvars) to control where items are drawn. (Alternatively maybe we should be using the MVC to do HUD layout?)

[2016-09-24 05:57] WickedShell commented on #175
RG has a pulse effect we could play with while it's charging, but most of the other view models don't have anything like that,  so the crosshair sounds like the short term winner to me! (If we can find a clean way to mess with the models visually as a effect, and make a little audio cue I think it would be really cool for the super observant player, but I think that will be lost on most of them).

[2016-09-24 06:50] Paril commented on #197
I thought so, but that is not the case. You take lava damage, not crushing
damage. Those faces are definitely lava :)
Try it yourself. Go to the top of the rotator with the gears and step on
them all individually; most won't hurt you, but some will deal lava damage.
When you die, you "do a backflip into the lava". I literally jumped -over-
the gear (as in, I did a double-jump off of the gear) and

[2016-09-24 06:53] Paril commented on #188
Freeing null is not a crash case - however, calling free() instead of g_free() when you request memory from glib -is- a crash case ;)

[2016-09-24 06:56] Paril opened #200 "Teleporter in mega room in darkzone is solid"
Self-explanatory. Rockets and whatnot will explode on it, but on the other side they pass through the teleporter. Appears that it was made solid.

[2016-09-24 07:00] Paril opened #201 "Tilde sometimes causes a write of backtick to the console"
Hitting tilde (on MSVC build, at least) causes a backtick to get written to the console almost every time. It seems that after the text input is initialized, it immediately registers a text input event for the backtick.

[2016-09-24 07:06] WickedShell commented on #201
Same for the normal windows builds,a non problem on Linux however

On Sep 24, 2016 00:00, "Paril" <notifications@github.com> wrote:

[2016-09-24 11:38] jdolan commented on #199
Yea, eventually I would like to replace all 2D elements with ObjectivelyMVC. The console, the HUD, everything. The cgame could create it's own Views and ViewControllers, and inject them into the MainVC, etc. It'd be tight. Probably not for 1.0, tho.

[2016-09-24 11:42] jdolan commented on #188
Ah, yes indeed.

[2016-09-24 11:43] jdolan commented on #200
This is actually fixed as of last night. Pull! :)

[2016-09-24 11:43] #200 closed

[2016-09-24 11:44] jdolan commented on #200
Btw for future reference, map-related bugs (especially ones that are truly maps and not code) belong in quetoo-data. But thank you for logging an issue!

[2016-09-24 11:55] Paril commented on #192
Cannot reproduce with Visual Studio build, but I am on AMD which did not report issues. If I can source an nVidia card to test with this I will.

[2016-09-24 12:01] Paril commented on #178
This is a tough one that Microsofty folks have been debating for a long time; to statically link or not to statically link. Here's the sitch: for Windows users, this is rarely a problem because nearly all of these runtimes are either distributed with Windows Update, with the installation of Windows itself (usually like the last year's version though) or the redist .exe is linked to or included wit

[2016-09-24 12:06] Paril commented on #179
Reproduced on the Ming build but does not happen on MSVC. Really can't explain this one. I have a feeling it might be GCC-related based on the Googling I did, but definitely way out of my expertise here.

[2016-09-24 12:06] Paril commented on #200
Oh right, we have separate repos, whoops!

[2016-09-24 12:07] Paril commented on #165
No crash on quit here, but mayhaps this was related to #188? Heap corruption can hit at any time.

[2016-09-24 17:42] #150 closed

[2016-09-24 19:12] kaadmy commented on #32
:+1: If this is still wanted, I can try implementing it.

[2016-09-24 19:15] WickedShell commented on #32
@kaadmy go for it!

[2016-09-24 20:07] kaadmy commented on #24
Does adrenaline have a timer like quad damage? I haven't noticed anything that handles a timer for it in the code.

[2016-09-24 20:39] jdolan commented on #24
I think the adren just runs the standard Item routines for pickup / reset.

[2016-09-24 20:55] kaadmy commented on #24
Got Quad timer working, I don't think i can draw an Adrenaline timer since it's instant.

[2016-09-24 21:05] kaadmy commented on #24
I also bumped the protocol since I changed the g_stat_t enum along with some stuff in game.

[2016-09-24 21:12] Panjoo commented on #197
That's the odd thing, they're not. I know exactly what you're talking about here Paril:). When I made the map this was one of the many strange bugs I encountered. Here is a snippet of one of the emails that I sent right after releasing the first lavatomb version, over 1.5 years ago:
_"-In some areas it looks as if the game thinks the player is inside a liquid volume and you can also hear the under

[2016-09-24 21:45] kaadmy opened #202 "Random seg fault in sound code"
Sometimes while playing, Quetoo randomly crashes, and I can't reproduce it, and no particular sound triggers it either.

GDB backtrace:

[code]

Linux 32 bit, custom build.

[2016-09-24 22:03] kaadmy commented on #24
This should be now fixed in bdbdd64

[2016-09-24 23:36] #24 closed

[2016-09-24 23:48] jdolan commented on #177
@WickedShell could you update your install, then try moving your install to `C:\test spaces\Quetoo` and run the new updater? I'd like to make sure we're okay in e.g. `C:\Program Files\Quetoo`.

[2016-09-24 23:52] jdolan commented on #201
I moved the call to SDL_FlushEvent up in Cl_SetKeyDest. Hopefully that does the trick. Could you please retest?

[2016-09-25 00:22] jdolan commented on #202
Yea, surer than shit, SDL is calling back to `S_FreeChannel` from its own thread. Here are intermingled `SDL_ThreadID`s from `S_FreeChannel`:

    30994432
    5435392
    5435392
    30994432

So a mutex is needed here, unfortunately.

[2016-09-25 00:42] jdolan commented on #202
S_FreeChannel is now "thread safe" in that it does not memset the channel. Rather, it sets a flag on the channel, which the main thread picks up and acts on in each invocation of S_MixChannels. Marking this one fixed for now -- I'm pretty sure we got it.

[2016-09-25 00:42] #202 closed

[2016-09-25 00:51] #32 closed

[2016-09-25 00:55] jdolan commented on #188
Great catch. That is fixed now. Please re-test when you have a chance.

[2016-09-25 02:56] WickedShell commented on #177
Works. The updater not updating itself needs to be addressed, will open an issue.

[2016-09-25 02:56] #177 closed

[2016-09-25 02:57] WickedShell opened #204 "Windows updater doesn't update itself"
The updater will be for ever frozen at the version that  a user downloads.

[2016-09-25 02:58] WickedShell opened #205 "Windows: Updater won't esclate to admin"
If run from a admin folder such as "Program Files" the updater wont have enough permissions, but also won't ask the user for permission to escalate to admin privileges so it can write there.

[2016-09-25 06:36] Paril commented on #205
Requesting admin privileges can be done a few different ways, during runtime or via manifest file. However, Microsoft's own recommendations for programs do not really recommend Program Files for stuff like this any more, generally this stuff goes to AppData which does not require admin privileges.

[2016-09-25 06:37] Paril commented on #197
That's the only thing I can think of as well. The faces that are touching the lava during the build are the ones that are affected.

[2016-09-25 06:39] Paril opened #206 "Sound system crash trying to play freed channel"
Discussed in IRC, but basically Mix_PlayChannel tries to play a sample that has been freed. Seems to be related to multithreading.

[2016-09-25 07:01] tapir commented on #201
Still happens for me

[2016-09-25 09:52] WickedShell commented on #205
AppData makes sense for things like logs, however it is usually poor for
things like map data which will be common to all users. That stuff really
belongs in a common location to all users

On Sat, Sep 24, 2016 at 11:36 PM, Paril <notifications@github.com> wrote:

[2016-09-25 11:11] Panjoo commented on #197
OK I think you misundertood me or maybe I wasn't clear about the wedge bug. What I meant was that at the time I was getting crushed while there was no actual collision.

It could happen while I was just riding the top of the gears and tried squatting between them. That doesn't happen in the Q2 version of the 'roller'. I haven't bothered trying this in a long time so it might have been fixed by now

[2016-09-25 11:49] Panjoo commented on #188
No :+1:
I really tried hammering on those buttons to make it choke but it just wouldn't crash anymore!

[2016-09-25 12:04] Paril commented on #205
They aren't meant to be in Program Files, that's the thing - that's why it's admin-locked. I'll have to refer to MSDN to find out where they recommend installations for all users go these days.

[2016-09-25 12:05] Paril commented on #197
Oh gotcha, thought you meant if you stand in the middle of the two gear teeth.

[2016-09-25 12:05] Paril commented on #201
commit 355916d0059cd92f2c1c176554275ebff1867b2b did not fix it.

[2016-09-25 13:25] jdolan commented on #204
One option here, I guess, is to rsync the updater and its dependencies individually, specify new target names for them. The process would look like this:

 1 . `_spawnl` rsync as we do currently, with exclusions for quetoo-update.exe, rsync.exe, and cygwin.dll.
 2. `_spawnl` rsync for each of those 3 files, separately, specifying unique local filenames like `quetoo-update.exe.new`, `rsync.exe.new`

[2016-09-25 13:27] jdolan commented on #206
Duplicate of #202, and fixed :)

[2016-09-25 13:27] #206 closed

[2016-09-25 13:31] jdolan commented on #188
Woo!

[2016-09-25 13:31] #188 closed

[2016-09-25 13:34] jdolan commented on #201
Weird! I guess once we have a reproducible Windows build, we can investigate this more easily that way. I don't wanna continue stabbing in the dark.

[2016-09-25 16:15] kaadmy commented on #149
Is this issue still valid since the recent collision fix? I can't see what the demo explains because it's an older version now.

[2016-09-25 16:27] tapir commented on #149
On the bsp file I provided above, it still sticks to the walls

[2016-09-25 16:40] jdolan commented on #149
Yea, there are still sticky points in some rare corners (corner cases? get it??). I'll be working on this today.

[2016-09-25 17:38] kaadmy commented on #149
I've also noticed on some walls you can very reliably get stuck in.

For example, the map i'm making has a wall facing left in Netradiant(I think this is -Y?).
If you aim parallel to the wall facing down in Netradiant, and about 20 degrees towards to wall, you can then move backwards and left at the same time and jump, causing you to get stuck in the wall.

[2016-09-25 21:33] jdolan opened #210 "Add HUD icon for carrying enemy flag"
@kaadmy your changes for the quad timer are great. I'd love to see something very similar for when you're holding the enemy's flag.

[2016-09-25 21:35] WickedShell opened #211 "Drop a live nade after death if pin has been pulled"
Dropping a hand nade should be allowed if the pin is pulled (and should be wherever the timer is)

[2016-09-25 21:35] kaadmy commented on #210
Should I add it in the same place as the powerups on the left, or any other position?

[2016-09-25 21:37] WickedShell opened #212 "Recieving damage can cause view to kick up to looking straight up"
Receiving  RL shots while moving the mouse sometimes caused the view to snap into looking straight up at the ceiling.

[2016-09-25 21:43] WickedShell opened #213 "Hand grenades missing all view model animations"
Hand grenades are missing all view model animations, which makes it really hard to judge what is happening, as well as just generally being broken :)

[2016-09-25 21:44] WickedShell opened #214 "At large FOV's with viewmodel shifted on screen shell effects don't apply correctly"
The shell effect is displaced from the viewmodel, which causes it to look weird.

[2016-09-25 21:45] WickedShell opened #215 "Flags are carried through the origin of the model"
Flags appear to be carried at the origin of a player model, meaning they are sticking through the player, and actually poke through the floor below.

[2016-09-25 21:48] kaadmy commented on #212
View kick's been disabled I thought?

[2016-09-25 22:23] #19 closed

[2016-09-25 22:25] jdolan commented on #214
Screenshot please.

[2016-09-25 22:26] jdolan commented on #213
We don't have any view model animations. We apply a hard-coded kick effect to the static weapon meshes in 1st person view. I don't think we will fix / improve this for 1.0.

[2016-09-25 22:26] WickedShell commented on #214
Crashes on windows still, will try to reproduce on linux

On Sun, Sep 25, 2016 at 3:25 PM, Jay Dolan <notifications@github.com> wrote:

[2016-09-25 22:27] jdolan commented on #212
Kick from firing your own weapon is gone. Damage kick is still active, and apparently not quite right.

[2016-09-25 23:09] jdolan commented on #210
On the left.. probably above the quad?

[2016-09-25 23:13] kaadmy commented on #210
Okay!
BTW, are current flag statuses drawn right now, ie. if the team flag is dropped, returned or carried?

[2016-09-26 01:11] jdolan commented on #210
No, not yet. When you take the flag, it's drawn as any ordinary item pickup for 3 seconds in the top-right corner. That's it.

[2016-09-26 01:14] jdolan commented on #210
We could maybe come up with a scheme where the flag icons are used to indicate flag status?

 1. Flag icons are drawn for each team, on the right of the HUD, always.
 1. Normal flag icons indicate the flag is at its base.
 1. Desaturated flag icons indicate the flag is taken.
 1. Pulsing normal flag icon indicates you are carrying the flag.

What do you think of this?

[2016-09-26 01:34] kaadmy commented on #210
I was thinking a single flag icon per team on the right that pulses when carried/faded when dropped.
When holding the flag, there could be an additional icon in the center of the bottom edge of the screen just above the ammo counter.

[2016-09-26 12:06] jdolan commented on #166
This should be fixed! Thank you @tapir .

[2016-09-26 13:41] kaadmy commented on #210
BTW how do ConfigStrings work again?
I could make your own flag status not shown and instead draw both team flags with the carrier's name besides them.

[2016-09-26 14:29] jdolan commented on #210
Heh, just realized I said "right" when I meant "left." Doh!

I'm not sure I like the idea of revealing the carrier's identity. Most of the CTF / team games I've played do not do this, and I think it's on purpose. If you know how someone plays, and you know they have the flag, you're more likely to anticipate where to head them off. It makes it that much harder to capture a flag / objective. I thin

[2016-09-26 15:04] #210 closed

[2016-09-26 15:13] jdolan commented on #214
Screenshots are working on Windows now.

[2016-09-26 15:15] jdolan commented on #212
@WickedShell Is this something you could look into? It should be easy enough to add a timed kick to your own view for testing purposes. The code in question is in g_client_view.c, `G_ClientKickAngles`.

[2016-09-26 15:17] jdolan commented on #205
So.. something like Quetoo wouldn't belong in Program Files these days? What is the world coming to.

[2016-09-26 15:19] jdolan commented on #204
Assigning to @Paril for feedback on the suggested approach.

[2016-09-26 15:21] jdolan commented on #178
Okay. MinGW does not provide msvcr*.dll due to copyright reasons. I guess we'll just let users find this on their own, in the somewhat off chance that they don't already have it.

The only reason I could see for us to bundle a particular msvcr110.dll, is if we find that Quetoo only runs with that version. As of right now, I don't think we can make that case.

[2016-09-26 15:21] #178 closed

[2016-09-26 17:20] kaadmy commented on #215
I think this is fixed now in jdolan/quetoo-data@9931d659c6671aa5ccfb76dc5b94167e0b220929

[2016-09-26 17:20] #215 closed

[2016-09-26 17:22] kaadmy commented on #164
Heh, we both reverted to the same commit.
Is the visual half okay now with 3485815?

[2016-09-26 17:23] kaadmy commented on #153
Is  this still a wanted feature or is it unnecessary now?

[2016-09-26 18:10] kaadmy commented on #166
Should this be closed or does it need confirmation first?

[2016-09-26 18:34] tapir commented on #166
I tested this both mingw and vs builds. It now works as inteded.

[2016-09-26 18:34] #166 closed

[2016-09-26 19:27] kaadmy commented on #14
Isn't all this functionality existing now?

[2016-09-26 19:57] #7 closed

[2016-09-26 23:22] #164 closed

[2016-09-26 23:31] #211 closed

[2016-09-26 23:53] jdolan commented on #153
It's ultra low priority. We don't deal in pak, really, but we do support it, because PhysicsFS gives it to us for free. A few times a year, I find myself wanting or needing to peek inside a legacy Quake2 .pak file, and wish that we still had that tar-like executable I wrote years ago.

This should be like, last priority. We should focus on all issues labeled 1.0-release, then all major bugs, and t

[2016-09-27 00:07] jdolan commented on #14
Sure. Let's close this out. Specific new features should be tracked in new issues.

[2016-09-27 00:07] #14 closed

[2016-09-27 05:56] Paril commented on #213
Good ol Quake 3 method :) Do you think there could be a way to maybe have a timer on the HUD? Maybe the ammo icon can have some kind of charge-up?

[2016-09-27 09:59] WickedShell opened #219 "New screenshot code is tinting images"
![quetoo004](https://cloud.githubusercontent.com/assets/567688/18868773/45a8461a-845e-11e6-84a3-f84613dc0730.png)

From fractures, the scene looked correct ingame.

[2016-09-27 11:11] jdolan commented on #219
Uh, that looks awesome. What are you bitching about?

[2016-09-27 11:12] jdolan commented on #219
CC @tapir Must be the byte ordering between glReadPixels and IMG_Write_rw?

[2016-09-27 11:13] jdolan commented on #213
That's not a bad idea. There's actually another ticket (#175) asking for a recharge / ready state for view models. We could implement this by desaturating the HUD icon on fire, and re-saturating it when the weapon is available.

[2016-09-27 11:15] jdolan opened #220 "Quick weapon switching exploit"
Right now, you can fire a weapon, switch weapons, and fire immediately again -- even switching back to the first weapon to get another shot off as well. There's an argument for fast weapon changing, but I wonder if this could be considered an exploit, the way it is now..

@WickedShell @Paril @Panjoo @kaadmy @tapir thoughts?

[2016-09-27 11:15] WickedShell commented on #219
I know it's kinda awesome but it's not intended :) made my edge ones look
crazy :)

On Sep 27, 2016 04:12, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-27 11:17] WickedShell commented on #220
I thought you had to wait the cool down time before you can fire again. I'm
good with instant swaps as long as I have to wait a weapons cool down time
before I can swap

On Sep 27, 2016 04:15, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-27 11:20] tapir commented on #219
Whoops, It should be GL_BGR in glReadPixels. I guess that's what SDL expects. I'll fix it.

[2016-09-27 11:24] jdolan commented on #219
Yep, just tested locally and that fixes. Go ahead and commit :)

[2016-09-27 11:26] #219 closed

[2016-09-27 11:29] tapir commented on #220
Back in the original Counter Strike days this was the shit. You would get AWP, fire, fast switch, fire again. So I'm kinda biased.

Even though it can be considered an exploit, it's there to exploit for everybody. I'm for this.

[2016-09-27 13:31] tapir opened #222 "SDL_Init is missing"
According to the documentation it needs to be called before any other SDL method except timer methods.

[2016-09-27 14:11] kaadmy commented on #220
I think it's fine to have quick-switching as long as there's still a small timer between firing and switching.
I _dislike_ games that you can't switch weapons until the held weapon is reloaded.

[2016-09-27 15:51] jdolan commented on #204
Done.

[2016-09-27 15:51] #204 closed

[2016-09-27 18:37] WickedShell commented on #220
Cs still managed this as you had to wait for the swap animation, or at
least part of it...

On Sep 27, 2016 07:21, "KaadmY" <notifications@github.com> wrote:

[2016-09-28 00:52] #138 closed

[2016-09-28 01:00] jdolan commented on #222
Nice catch. In fixing this, it actually resolved some odd fullscreen / r_restart behavior on OS X.

[2016-09-28 01:00] #222 closed

[2016-09-28 01:00] jdolan commented on #220
That's where we're at. You have to wait for the switch animation (which is only 200ms). Okay, sounds like we're fine with this then! Cool.

[2016-09-28 01:00] #220 closed

[2016-09-28 01:03] jdolan commented on #165
@WickedShell are you still seeing crashes on quit in Windows?

[2016-09-28 03:04] WickedShell opened #223 "Fragment armor pickup icons aren't shown"

[2016-09-28 03:05] WickedShell opened #224 "Armor max appears unlimited"
I got to 1007 armor before getting bored... (Via fragment pickups) We should at a minimum limit to say 200 armor. Should armor decay down the way health does? I'm inclined to say no to making armor decline, but I can see the arguments either way)

[2016-09-28 03:07] jdolan commented on #223
![quetoo003](https://cloud.githubusercontent.com/assets/643118/18899449/09d324bc-8507-11e6-87a4-e0e0c084c6a8.png)

[2016-09-28 03:08] jdolan commented on #224
Let's set a hard max of 200 for now. I don't recall if Q2 decayed armor.

[2016-09-28 17:31] tapir commented on #201
Confirmed 959df6e fixed it.

[2016-09-28 21:03] Panjoo commented on #224
Nope, Q2 doesn't decay armor, only thing that decays/leaks is the health from the mega, 5 seconds after you pick it up.
On a related note I've noticed that even the small_healths in Quetoo decay almost instantly, so your little extra health is gone in seconds after you collect a bunch. This pretty much makes the whole item useless as a form of protection against a railgun hit. The small_healths sh

[2016-09-28 21:18] Panjoo opened #225 "Reintroduce in-game editor functionality"
...which is unfortunate as I really need that to finetune and edit materials for the maps Fractures and Lilith.

Would it be possible to make cl_editor pop up upon typing "cl_editor 1" + Enter, instead of having to press a key?

[2016-09-28 21:45] jdolan commented on #225
Hi Pan, I know.. the editor was a casualty of the new menus. The old editor was based on AntTweakBar, which has been completely removed in favor of ObjectivelyMVC.

Eventually, I'll be replacing the entire HUD, console, etc.. with ObjectivelyMVC components, and we'll be able to have a rich in-game editor to place and tune light sources, entities, etc.. and of course, materials. But this won't happ

[2016-09-28 21:54] WickedShell commented on #224
Everything decays back to 100. That's by design. You shouldn't be able to
be perpetually at a high health. I could see increasing the initial time
before decay kicks in though. Right now it's only 1 second, but a 5 second
delay would make a lot of sense. RG is probably going to get a slight
debuff as well (one hit kills from 100 health are pretty frustrating)

On Wed, Sep 28, 2016 at 2:03 PM, Panj

[2016-09-28 22:03] jdolan commented on #224
No, Pan is right re: the small healths not decaying. This is a crucial element of Q2 gameplay. It's part of why the 100 dmg rail worked in Q2.

We have code for this right in my quake2 and q2pro repos.

[2016-09-28 22:13] WickedShell commented on #224
:/ Really don't like that to be honest. It seems really inconsistent, and
worse then the armor pickups having varying conditions depending on what
armor you have.

How do I know what my health with mega will decay back down to while I have
mega?
Does damage come off the mega side first, or does it come off both stacks
evenly?

I don't think just because Q2 did it we have to do it that way.

On Wed

[2016-09-29 01:22] kaadmy commented on #225
Since materials can be changed run time via the old cl_editor, would it be possible to have a command like `fs_reload_materials`?

[2016-09-30 11:08] jdolan commented on #225
Yes, it's called `r_restart` ;)

[2016-09-30 11:10] #223 closed

[2016-09-30 11:12] jdolan commented on #224
Let's try to keep these issues on-task, and save the discussion of related features for IRC. The max for armor should be `200`, and it's not necessary to add a decay to it.

[2016-09-30 11:16] jdolan commented on #205
@Paril I'm assigning this one to you for resolution, if there is one. From what I can tell, users can run `quetoo-update.exe` as an administrator if they wish to install to Program Files. Honestly, that's good enough for me. Can we just confirm that this approach works?

[2016-09-30 11:17] jdolan commented on #199
Honestly, this is such a low priority at this point, I'm going to close out. Very few users will play with these cvars at all. It's not the end of the world if the HUD elements don't slide around to accommodate each other.

[2016-09-30 11:17] #199 closed

[2016-09-30 15:42] kaadmy commented on #225
I know `r_restart` exists, but it has to reload all the models and the map too, which takes a while for me(10 seconds on a small map)

[2016-09-30 16:38] jdolan commented on #225
The "best" way to adjust materials as of right now, is to look at the material in question, and tweak the following cvars until the material looks good:

    r_bumpmap
    r_hardness
    r_parallax
    r_specular

Jot the values down in the .mat file, reset the cvars to 1.0, rinse and repeat. I agree that this is not ideal. There is nothing I can do about it right now.

[2016-09-30 19:05] kaadmy commented on #225
_KaadmY proceeds to add keybinds to change those CVars_

[2016-10-01 19:24] Panjoo commented on #225
Luckily I still have a recent backup of Quetoo that still uses AntTweakBar. I'll just load that up if I want to edit materials using cl_editor.  Hah!! :P

[2016-10-01 19:43] Panjoo commented on #223
I see you closed this but I've seen this behaviour too (for instance in this demo on the map Torn I don't see the icon of the small_healths when I pick them up.)
I thought it had to do with picking up multiple items of the same kind but then it also happened with other items. Especially when they're close together with little time in between pickups it tends to ignore the icon of the last pickup.

[2016-10-01 21:38] Paril commented on #224
Mega always decayed back to 100, but only after you got the mega. Stimpacks pre-mega didn't decay, but post-mega did.

[2016-10-02 12:15] jdolan opened #232 "Intermittent segfault on Linux"
Saw this roughly 20% of the time when exiting on my Debian VM:

[code]

[2016-10-02 12:35] jdolan commented on #232
@tapir @WickedShell Do you guys see this on Linux?

[2016-10-02 13:32] tapir commented on #232
AFter recent changes, qeutoo fails to compile for me both in Windows and Arch with this:
[code]

[2016-10-02 13:58] tapir commented on #232
@WickedShell can you try to do `yaourt -S quetoo-git` and see get the same error as me?
Either my system is completely gone (which I doubt because I didn't use my linux box for any quetoo development, just compile/install) or autotools in Arch doesn't like quetoo anymore.

[2016-10-02 15:05] tapir opened #233 "Client ui commit causes build failure on Linux and Windows"
After 881b029 quetoo failes to build with error

[code]

Since CI builds are OK, it might be because both my linux and mingw-w64 system have newer versions of gcc, autotools etc...

[2016-10-02 15:06] tapir commented on #232
Since it's unrelated I opened up a new issue for this one #233

[2016-10-02 17:39] jdolan commented on #232
I figured out what was going on. This was a regression in Objectively, which is now fixed.

[2016-10-02 17:39] #232 closed

[2016-10-03 00:24] jdolan commented on #170
Fixed. Plats decimate corpses and giblets. If a client is bound to a giblet (not yet respawned), they are made `SOLID_NOT` after blocking the platform.

[2016-10-03 00:24] #170 closed

[2016-10-03 12:41] jdolan opened #234 "Use Java AWS client to update game from S3, remove rsync requirement"
https://github.com/perlundq/yajsync

[2016-10-03 13:08] jdolan opened #235 "Platform start/end sounds not heard at bottom"
Both sounds are, however, played at the top.

[2016-10-04 17:28] Panjoo commented on #201
I downloaded this snapshot, don't know if it's up-to-date  -> http://quetoo.org/files/Quetoo-BETA-i686.zip

Unzipped and replaced, then ran quetoo-update.exe
**Still seeing the backtick thing, and also the crash on quit :/......**

Maybe the link hasn't been updated yet?

[2016-10-04 17:31] jdolan commented on #201
There should be a date stamp in the Quetoo console indicating when the executable was built. Is yours from October 2nd?

[2016-10-04 18:33] Panjoo commented on #201
Quetoo 0.1.0 Oct 3  2016

[2016-10-04 21:03] Panjoo opened #236 "cg_add_weather snow is way too demanding on the fps(?)"
Since I'm in the middle of trying to polish some textures and normals for the map _Fractures_, I couldn't help noticing the big drop in frames when the snow is enabled. This weather snow fx is sometimes costing me 100+ (!) frames per second. It doesn't seem to happen this noticable with rain, just snow.
Is it normal to lose this many frames? On this low-end pc I can't afford to lose 100/fps and st

[2016-10-05 05:59] tapir commented on #201
Can't reproduce on that same build. Does it happen every time?

[2016-10-05 06:02] tapir commented on #201
Maybe we should still disable TextInput at the start of the game. Just in case.

[2016-10-05 21:26] Paril commented on #236
Curious if maybe higher FPSes causes these effects (specifically Blaster/RL/GL) to spawn more particles. If they aren't consistent, it might explain quick drops from grenades especially.

Weather definitely needs work, and I think some particle operations need to be moved over to the GPU. We should get a test branch going for GL 3.0 stuff and see if maybe that helps.

[2016-10-07 14:28] jdolan opened #237 "Bug fix / potential optimization for r_shadows 2"
The planar shadows make extensive use of the stencil buffer. Each surface is rendered with a stencil value derived from its plane number. When shadows impact a plane, we draw that shadow with the stencil test for that plane number. The stencil buffer is only 8 bits, which leaves a maximum number of unique stencil values of 255. In fact, I think the way this worked out, I was only able to use 127 u

[2016-10-07 20:01] tapir commented on #233
As suspected, this is a bug with autotools: https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1232579.html

When I change line 19 in configure.ac to this `AM_INIT_AUTOMAKE([foreign])` I can compile quetoo again.

[2016-10-07 20:43] Paril opened #238 "OpenGL ES 2.0 (?)"
Just opening this so we can discuss where we go from here, and if this is a good target for us for the long run. May need a plan of attack and whatnot. Might not be possible to get this done before first milestone though.

[2016-10-07 20:55] jdolan commented on #238
I think this is worth exploring. I would prefer if we started with an audit of `r_state.c`, `r_array.c` and `r_program.c` to see how this might go. I think that will help inform a general approach, and also give some insight to level of effort, so we can decide if this is a "1.0 milestone" thing, or not.

[2016-10-07 20:57] jdolan commented on #238
I would not be able to focus on this in the immediate future, btw. You'd have to take the lead on this branch, tho I could certainly help out with answering questions and reviewing patches. I'd like to try to stay as focused on the 1.0 milestone as possible.

[2016-10-07 20:57] jdolan commented on #234
I know, but what else is there?

[2016-10-07 21:08] Paril commented on #234
It is our best option, yeah.

[2016-10-07 21:12] jdolan commented on #225
Last week, I merged a big old refactor of the UI code that moved most of the UI into cgame, but allows the engine itself to override the UI as it wishes. Therefore, I think I could actually re-introduce the same basic editor functionality that we had with a relatively small amount of work. Moving this to 1.0 release, and will address it next week.

[2016-10-07 21:14] jdolan commented on #212
With this patch (which we'll call "drunk Quake") the bug is relatively easy to reproduce: just run straight forward for a while, and eventually your pitch angle flips.

[code]

[2016-10-08 01:10] Paril commented on #238
Focusing on the easy stuff first, here's what needs to be done:

- Make sure we're using the appropriate GLSL version in the files
- Manage modelview, projection and texture matrices ourselves.
  - texture matrix is only used by material subsystem. Is it possible or feasible to make materials entirely shader-based? There's a Quake 3 shader to GLSL shader conversion system on the net somewhere, may

[2016-10-13 07:39] WickedShell opened #239 "cg_color doesn't affect rail trails"
cg_color doesn't appear to change the color of rail trails. This was a slightly old build, however so this may have been fixed in master already.

[2016-10-13 18:28] jdolan commented on #233
Could someone please patch configure.in for the time being?

[2016-10-14 02:13] jdolan commented on #236
Yea, @Panjoo I'm really surprised to see this. I see absolutely no change in framerate with weather on or off, and we've had this particle code for years now. But you're not the only one impacted by this, and we'll be addressing it for 1.0. @Paril is already working on an OpenGL 3.0 branch that might enable us to use "instancing" (GL3 rendering technique) that would greatly improve particle perfor

[2016-10-14 02:36] #239 closed

[2016-10-14 07:34] tapir commented on #165
I was able to get a backtrace for this by attaching gdb to the running process.
Here is the relevant part:
[code]

We're probably trying to double-free some memory somewhere

[2016-10-14 12:44] tapir commented on #165
[code]

commenting out that part will get rid of the crash. I'm leaving finding the actual bug to you @jdolan  :D

[2016-10-14 13:05] jdolan commented on #165
I can't reproduce the bug, so it'll be difficult for me to do that. *However* if you print out each class name before invoking `destroy`, that might provide some insight into which class is blowing up here!

[2016-10-14 13:06] jdolan commented on #165
Oh -- I see above that it's Font.c that's exploding. Perfect!

[2016-10-14 13:17] jdolan commented on #165
Okay. So this is interesting. The crash occurs in freeing the default Fonts. Specifically, the error is occurring on `free(this->name);`. The font name is returned on line 219:

							self->name = (char *) FcNameUnparse(pattern);

Which returns dynamically allocated memory, to be freed with `free()`:
https://www.freedesktop.org/software/fontconfig/fontconfig-devel/fcnameunparse.html

But I do see

[2016-10-14 13:40] tapir commented on #165
Works :+1:

[2016-10-14 13:40] #165 closed

[2016-10-14 13:54] jdolan commented on #165
Hah! So the FontConfig docs are wrong. I'll post a bug on their site.

[2016-10-14 16:01] jdolan commented on #235
Fixed.

[2016-10-14 16:01] #235 closed

[2016-10-16 17:54] Paril commented on #236
Paril> Paaaaaaaaaaaaaaaaaaaaaaaaaril hmm
1:46 PM so while I can't confirm this exactly, I may have indirectly noticed another reason why fractures is slow
1:47 PM it's related to sorting, but basically because different types of particles use different textures it causes there to be an absurd amount of texture switching
1:47 PM sitting alone in one spot, 65 diffuse textures
1:47 PM if I fire a roc

[2016-10-16 18:12] Paril commented on #236
Here's a patch that basically does this:

`diff --git a/src/client/cl_screen.c b/src/client/cl_screen.c
index 100692c..f51de44 100644
--- a/src/client/cl_screen.c
+++ b/src/client/cl_screen.c
@@ -179,6 +179,9 @@ static void Cl_DrawRendererStats(void) {
 	y += ch;

 	R_DrawString(0, y, va("%d particles", r_view.num_particles), CON_COLOR_WHITE);
+	y += ch;
+
+	R_DrawString(0, y, va("%d alpha surfs",

[2016-10-20 16:19] jdolan commented on #233
Saw this for the first time today:

[code]

Is this highlighting a better solution for this problem?

[2016-10-20 16:21] tapir commented on #233
Yeah I've seen it before. I'll check fora better solution.

[2016-10-22 07:55] Paril opened #242 "fractures hits MAX_ENT_LEAFS for a rotating bmodel"
I'm not sure which bmodel does this, but it hits MAX_ENT_LEAFS. Increasing it to 256 fixes it, but won't do that since I think it might be an issue with the map or something.

Making here instead of quetoo-data since this might not be an issue with the map but moreso how linking works.

[2016-10-23 16:43] Panjoo commented on #242
I'll be updating the new pk3 for fractures very soon and I've fixed quite some mangled brushes (cracks) including the func_rotaters. Would be a good time to re-check to see if it was map related.

[2016-10-23 22:58] jdolan commented on #242
That's great news! I don't suppose you've taken a pass at hinting the map, or otherwise fixing its VIS inefficiencies. Gehenna has similar problems -- 40 minute VIS compile :|

[2016-10-28 07:21] Panjoo commented on #242
[`commit 6ced5f1`]
(https://github.com/jdolan/quetoo-data/commit/6ced5f1121ac3c6f7df4845b76a1fad32560518e)

^ This is the newer Fractures map, maybe my cleaner brushwork might have also fixed that MAX_ENT_LEAFS thing? Worth a check.

[2016-10-29 12:47] jdolan commented on #242
Yup! I just set a breakpoint in the area where this would have been triggered, and it is no longer happening. Nice job, @Panjoo.

[2016-10-29 12:47] #242 closed

[2016-10-29 12:50] jdolan commented on #238
I think we can close this one out, @Paril. There are certainly more renderer refactor / cleanup / enhancement items, but the bulk of the work is complete and merged. Really, great work. Pretty massive accomplishment, and you did it all without stomping all over the code. Impressive. Please close if you agree that this one is wrapped.

[2016-10-29 14:55] #238 closed

[2016-10-30 18:34] WickedShell opened #244 "Physics bugs on fragpipe"
I'm unable to walk/run over either of these steps or the ledge on the fragpipe. I'm not sure if this is a recent regression, or just something we all missed because we were to busy jumping around :)

![quetoo027](https://cloud.githubusercontent.com/assets/567688/19838836/a221cfc4-9e94-11e6-811d-a38e7647fde2.png)
![quetoo028](https://cloud.githubusercontent.com/assets/567688/19838837/a230aed6-9e94-

[2016-10-30 19:16] jdolan commented on #244
600fps? What happens if you clamp your FPS to 60?

[2016-10-31 23:10] Panjoo commented on #244
Alright, I've just edited the staircases and made them out of 4 steps (of 12 units) instead of 3 (of 16 untis).
Might hide this issue for now and looks somewhat better.
BTW, see screenshot, I tried to clip around the doors of the fragpipe to prevent getting stuck but quetoo don't like clips intersecting with func_entities! I've had the same difficulties with the Red Armor-bridge on Lavatomb. Tried

[2016-11-01 03:45] jdolan commented on #244
Oh wow. Crazy bug. Do you know of Q2's tools have this issue as well?

As for WickedShell's pmove woes, it's because he's hitting 700fps. At such small frame intervals, pmove does not correctly traverse stairs. I'm addressing this by locking the game and pmove to 60hz, like most modern games do. There's already a branch for this, and the code will be in everyone's hands by this weekend. But I'm gl

[2016-11-02 10:14] WickedShell commented on #244
For the record I haven't been able to reproduce it at crazy high framerates
again (without having changed the build at all, but that evening it was
100% reliable.

On Mon, Oct 31, 2016 at 8:45 PM, Jay Dolan <notifications@github.com> wrote:

[2016-11-04 02:52] jdolan commented on #244
Please re-test with the latest code. We're locked at 60hz pmove now, so micro-frame moves like what you had before are no longer possible. I think this is fixed.

[2016-11-04 02:55] jdolan opened #247 "Particle color changes (GL state leak / batching error)"
As a rocket explodes, it's smoke trail will suddenly turn the same dark charcoal color as the explosion smoke particle.

![quetoo008](https://cloud.githubusercontent.com/assets/643118/19992971/871f4f12-a218-11e6-8e7d-c7c592db3237.png)

[2016-11-04 02:58] jdolan opened #248 "Crash on R_ShutdownMedia when playing Tokays Towers"
[code]

My spidey sense says this is likely r_atlas.c-related?

[2016-11-04 06:38] Paril commented on #248
I don't see anything from here that would suggest it being atlas. It doesn't crash on Windows, nor throw any asserts. The only way this -might- happen is if one of the temporary elements (like r_atlas_image_t) somehow got registered, but they aren't ever registered as media by the atlas system.

[2016-11-04 06:54] Paril commented on #247
Fixed in 437659e03018c0dccaf554de827fb2eaab168044

[2016-11-04 06:55] #247 closed

[2016-11-04 11:30] jdolan commented on #248
I just realized that this crash only occurs if I run Quetoo and do the following:

    map edge
    map tokays
    quit

Then it crashes every time. Debugging through it some, it's crashing on freeing the `maps/tokays` media entry, and the crash is in `Mem_Free_`, having to do with "children" (something allocated with `Mem_LinkMalloc`).

[2016-11-04 12:32] jdolan commented on #236
I think we can close this now?

[2016-11-04 12:49] jdolan opened #249 "Code cleanup"
1. We need to enable and / or address all of the following warnings:

- [x] Unused parameters
- [x] Uninitialized value
- [x] Comparison between signed and unsigned
- [x] Implicit 32 bit conversion

2. We should make a pass over the code, adding, updating and formatting Doxygen comments. This is particularly important for the game and cgame import structs.

3. Run static analysis and fix any warni

[2016-11-04 12:51] jdolan commented on #248
15f015862b0cbe82ac4ef59d252c363e7ea0bcb8 Fixes. Thanks @Paril

[2016-11-04 12:51] #248 closed

[2016-11-04 13:00] Paril commented on #236
I believe so, the root issue has been addressed (state switches and adding every particle even if you can't see them). It's still intensive, don't get me wrong (it seems like snow sources across the map are being activated too).. I think there are better ways of handling snow effects, but it works much better now than it did for sure.

[2016-11-04 13:35] jdolan commented on #236
👍 Thanks for your work on this.

[2016-11-04 13:35] #236 closed

[2016-11-05 03:39] #249 closed

[2016-11-05 03:43] jdolan commented on #192
Could someone with an Nvidia card please retest _all_ builds (MinGW i686 and x64, and VS i686 and x64) and provide an update / some feedback specifically around this crash? The renderer has been completely refactored to be OpenGL 2.0 compliant, and so there's a decent chance that this crash is gone.

[2016-11-05 03:45] jdolan commented on #233
Managed to fix this by having that unit test link against librenderer.la. All better!

[2016-11-05 03:45] #233 closed

[2016-11-05 03:45] #214 closed

[2016-11-05 03:46] #213 closed

[2016-11-05 03:48] jdolan commented on #197
@Panjoo fixed this one by making the lava a `func_water` that spawns into the pool. This way, the rotator does not clip against `CONTENTS_LAVA` during BSP compilation, and the faces are no longer lava.

[2016-11-05 03:53] jdolan commented on #149
A lot of work has been done here, and it's no longer possible to fall out of the map. You're also a lot less likely to get snagged anywhere. However, it's still possible to get stuck when walking along a non-axial crease, especially when crouching, or in a liquid volume.

I think what's happening here is that, with small enough frame movements (we're now at 60hz locked, so 16ms is average pmove),

[2016-11-05 04:08] jdolan opened #251 "60hz bugs"
- [x] Jitter on ducking
 - [x] Jitter on stairs
 - [x] Weapon firing rates?

[2016-11-05 08:22] tapir commented on #149
Yeap it doesn't get stuck to the wall anymore but I've noticed that climbing up stairs are not so smooth now. I can see jitters. Might be related to this one.

[2016-11-05 08:23] tapir commented on #192
I will do so monday when I have access to my windows machine :+1:

[2016-11-05 08:24] tapir commented on #149
Oh NVM I've seen #251

[2016-11-05 12:33] jdolan commented on #149
👍 Thanks @tapir. So we're on the right track.. ;)

[2016-11-05 12:34] jdolan commented on #192
Thank you thank you!

[2016-11-05 13:50] jdolan commented on #244
I can approach 500fps on my system, and I can't reproduce this at all. I'm 95% confident this is resolved.

[2016-11-05 13:50] #244 closed

[2016-11-05 13:53] jdolan commented on #179
Crazy idea.. Using clang instead of GNU gcc for the MinGW build?

[2016-11-05 14:04] jdolan commented on #251
@Paril Did you want to tune all of the weapon timings to your liking now that the server tick is locked?

[2016-11-05 14:06] tapir commented on #179
I tried it briefly. Got it to compile OK without much hacking after Paril's msvc updates

[2016-11-05 14:07] jdolan commented on #99
This is now fixed! b115852657eedc3113cba0b7877a28c72ec63d56 Thanks @Paril.

[2016-11-05 14:07] #99 closed

[2016-11-05 14:10] jdolan commented on #179
I wonder if it's less-crashy when built with clang. That's the question. Unfortunately, that might also preclude us from cross-compiling, so it's not a whole lot better (for me) than the Visual Studio approach (that is -- I can't run a build easily).

[2016-11-05 14:12] tapir commented on #179
2 weeks ago there were no more crashes for me on the mingw build. I could debug, start, quit without heap corruption. Did the situation change? Didn't test on windows for a while

[2016-11-05 14:16] jdolan commented on #179
I have no idea, but that's great news. I guess if we can get a small consensus @WickedShell @Paril @Panjoo if the MinGW build is now stable, we could close this one out.

I'd like to continue to offer both builds (MinGW and VS) on the website, and push people towards VS. But the MinGW will be our fallback.

[2016-11-05 16:10] Panjoo commented on #197
@jdolan Ehm... nope, this is not fixed yet.

The func_water is only used for the lava near the stepping stones (at RL cave), to prevent a visible crack in the lava surface.

I did actually test the rotator with a func_water in place but it still acted the same as before so I changed it back to normal lava. I think the func_rotating entity is just not working as it should since there is nothing els

[2016-11-05 16:15] Paril commented on #251
Will do.

[2016-11-05 16:18] Paril commented on #197
That's fucking strange. Can you build a .bsp of the map that has no lava and be 100% certain that NO surfaces in the map have lava on them at all? Such a .bsp would be incredibly helpful for me to debug this problem.

[2016-11-05 16:33] Panjoo opened #252 "Map specific fps loss ?"
After installing the latest (win32 minGW) build from the site some maps suddenly perfrom very poorly. I was doing some more testing with the map Lavatomb and its buggy rotator :gear: thing. At first when I saw my fps counter I thought that my frames got capped or something but after running around I noticed it wasn't locked, just very low all of a sudden. Then loaded other maps and those seemed to

[2016-11-05 16:37] Paril commented on #179
So long as we have AppVeyor working and somebody to update project files, shouldn't be too difficult to keep the VS build up to date.

[2016-11-05 16:46] Panjoo commented on #197
Sure, will get right on that.

[2016-11-05 18:34] jdolan commented on #252
@Paril refactored the renderer to be completely OpenGL 2.0 compliant, and that was merged in on October 27th. So that seems to coincide with this issue.

Would you mind starting the game with `+set verbose 1 +cvar_list` and pasting the output here?

[2016-11-05 18:39] Paril commented on #252
The only thing I can think of that would have changed between those two scenes is the lava balls and only in a very recent commit, since the old lava balls created way too many particles at high FPS, but that wouldn't explain your FPS being worse since the commit. BSP rendering is the worst area of the game (as it should be) but that system has changed very little since the refactor.

@jdolan I th

[2016-11-05 18:44] jdolan commented on #252
Btw @Panjoo with the latest 60hz changes, the recommended setup for all players is to enable vsync (`r_swap_interval 1`) and remove your frame limiter (`cl_max_fps 0`). These are now the defaults. I was able to restructure how Quake samples input and predicts movement, and all of the implicit latency that is typically associated with enabling vsync is now gone. And because the server now runs at 6

[2016-11-05 18:44] Paril commented on #252
Indexed arrays is my only guess. I wonder if we can provide him with a build of pre-indexed-arrays and see if that works well for him?

[2016-11-05 18:48] jdolan commented on #252
Aaaand therein lies the peril (see what I did there) of "squash and merge." All of the `feature/gl30` commits are now one. There's no easy / automated way to cherry pick GL 2.0 when we were still using flat arrays.

[2016-11-05 18:48] Paril commented on #252
I still have my local commits, I can un-cherrypick if need be.

[2016-11-05 18:50] jdolan commented on #252
Oh -- thankfully we didn't delete that branch! It's still there. Here is the commit that introduced indexed arrays for BSP: 6590e227dd4dba5821a7009d012889c727996633

https://github.com/jdolan/quetoo/commits/feature/gl30

[2016-11-05 18:50] Paril commented on #252
I undid that commit though, remember? You said it drastically reduced FPS, and you were right.

[2016-11-05 18:51] jdolan commented on #252
No, you reverted triangle soup (`GL_TRIANGLES`). We kept indexed arrays.

[2016-11-05 18:52] Paril commented on #252
Oh right. Well, here's part 1 of 2 of my tests: a screenshot of me in lavatomb. http://i.imgur.com/YqojofA.jpg

I'm going to pull the commit before GL20 and compare.

[2016-11-05 18:58] Paril commented on #252
And from commit before gl20 was a thing: http://i.imgur.com/PtPgC5s.jpg

I am having the exact same FPS (within accepted tolerance) in the same area.. so it must be something more specific to your setup.

[2016-11-05 19:01] Paril commented on #252
Okay, so this is from before gl20: http://i.imgur.com/yJcrsnX.jpg

I'm honestly surprised that it's this different from the fixed pipeline branch. I did a lot of profiling on the new stuff and GL is rarely there on the top, not to mention the numerous fixes I did to extraneous state changes and the like..

[2016-11-05 20:55] Panjoo commented on #197
[nolavatomb-bsp.zip](https://github.com/jdolan/quetoo/files/573496/nolavatomb-bsp.zip)

[2016-11-05 20:57] Paril commented on #252
I have identified the issue and am working to fix this.

[2016-11-05 21:17] Paril commented on #197
Alright, so I'm still stepping through things figuring out exactly how it's happening, but the rotating spinner has CONTENTS_LAVA on it. The only thing I can think of offhand is that those faces do indeed have CONTENTS_LAVA on them, I don't see how else it could be pulling that bitflag from the air. It happens in Pm_CheckWater -> Cl_PointContents where it gets the 8 bitflag from Cm_TransformedPoin

[2016-11-05 21:44] Panjoo commented on #252
Good to hear that Paril, I was starting to sweat a little.

--

Sure, but how do I copy the output, lol! Don't know the condump command. Do I also have to load up a map or just the game?

Well, the performance drop isn't just on lavatomb but it seems the worst there, at least on my pc. It sometimes drops to 30-40, I hate how laggy that feels! Also the hyperblaster firing rate is affected which mes

[2016-11-05 22:09] Paril commented on #252
@jdolan what do you think about a) implementing log system for console, would be helpful for servers but also client issues like this (could even have verbose stuff go to log even if it's disabled in client!) b) adding commit ID to build string?

[2016-11-06 03:08] WickedShell opened #253 "Particles cause tear lines on maps"
See attached screen shots, GL20 related.

![quetoo032](https://cloud.githubusercontent.com/assets/567688/20035085/54141950-a393-11e6-9166-e5b756bbd09d.png)
![quetoo033](https://cloud.githubusercontent.com/assets/567688/20035087/54262ffa-a393-11e6-9626-8c592581ca95.png)

[2016-11-06 03:51] Paril commented on #253
Wat de fook are those? Is mipmapping enabled? This would be atlas-related.

[2016-11-06 04:21] Paril opened #254 "Breakpointing eventually causes something of an infinite loop trying to catch up the game"
Seems that Sv_Frame has an issue where it just keeps "queueing up" game frames. Once you continue, the game tries to run all of that time you missed (for me it was up to 26k before I gave up).

[2016-11-06 07:03] Paril commented on #252
I pushed one half of the fix. Material system now uploads all of the material surfaces in one batch and then draws them in the second batch - it improves my FPS by about 40 in lava areas on lavatomb. I notice that entity materials cause lag still, which is weird, but I am looking into it.

[2016-11-06 10:59] Panjoo commented on #252
Yes you're right, setting r_materials 0 makes the fps shoot back up, in some places almost 4 or 5 times higher.

[2016-11-06 11:15] Panjoo commented on #197
These are the textures in the map that contain "lava" in their names:
_brlava_ -> the actual lava texture
_sublava_ -> sidewalls of lava pits
_sublavabotm_ ->bottom of lava pits

However, the func_rotating itself only uses the following textures:
_caulk_
_lead1_2_
_pyramids_

[2016-11-06 12:31] jdolan commented on #254
Hah! What, is that bad or something? ;)

[2016-11-06 12:34] jdolan opened #255 "Add con_dump command"
Duh.

[2016-11-06 12:45] #255 closed

[2016-11-06 13:02] jdolan commented on #252
Not a bad idea, @Paril. But for now, the console does have a dump command, it's called `dump <file>`. By default, it writes to `console.log`. Please update before using this function.

[2016-11-06 13:19] jdolan commented on #254
So.. the challenge here is that the server must now (or at least should) loop in `Sv_Frame` if `msec >= QUETOO_TICK_MILLIS * 2`. We never worried about this before, because the server only ran at 30hz. However, with the server running at 60hz, if the client's framerate every dips below 60, suddenly the server effectively drops frames, and the game simulation visibly slows down.

Try it: comment ou

[2016-11-06 13:25] Paril commented on #197
.map, not the .bsp. Will need to figure out where in Quemap that CONTENTS_LAVA is being pushed onto the final brush.

I'm wondering if the folder being "lavatomb/" is somehow causing it to do that somehow. It seems unlikely, but that's the -only- place where flag 8 is added to brushes.

[2016-11-06 13:29] Paril commented on #254
In original Q2, the game just didn't try to catch up if the game got too far behind (I think by several seconds). I remember seeing a block of code related to this in EGL as well, which was pretty much exclusively for breakpoints since you can sometimes spend like 20+ minutes breaking through the code somewhere.

[2016-11-06 13:32] jdolan commented on #254
Okay, the number of frames we will run to "catch up" is now `QUETOO_TICK_RATE`, or 60 -- in other words, we only ever try to recover 1 second of simulation.

[2016-11-06 13:32] #254 closed

[2016-11-06 13:49] jdolan commented on #197
It seems like that was the problem, @Paril. I removed the implicit flags for water, lava and slime, recompiled the map, and this problem is now gone.

[2016-11-06 13:49] #197 closed

[2016-11-06 18:20] Paril commented on #252
I made some more changes, can you try @Panjoo and see how better it is?

[2016-11-06 21:44] Panjoo commented on #197
[nolavatomb-map.zip](https://github.com/jdolan/quetoo/files/574145/nolavatomb-map.zip)
(in case you still need the map without lava)

[2016-11-06 22:28] Panjoo commented on #252
Maybe I'm imagining things but it looks as if I'm getting some more frames now than before, feels pretty steady. Also tested a bit on other maps.

Only problem now is that not all stages of the *lava texture material are showing. The scrolling fx is what makes the lava come to life and I'm not seeing it anymore. Without any movement the whole thing look a lot less convincing.

*
{
material lavatom

[2016-11-07 00:12] Paril commented on #252
Yep I am aware of this one. I just noticed it accidentally, ha. I'm fixing it.

[2016-11-07 00:25] Paril commented on #252
Should be fixed now. Try latest build in about 15 min.

[2016-11-07 06:41] Paril opened #256 "Ensmallen buffer sizes and GLSL types"
Several of our GLSL types can be optimized on the client side. Thinking of this:

vertex & next_vertex: float[3], no change
normal & tangent: GL_INT_2_10_10_10_REV for both. Reduces vertices from (12 + 16) bytes to (4 + 4) bytes, and the encoding should not be noticable, but I will test this thoroughly before making that big of an assumption. Tangent 4th component is only ever -1 or 1, so 2 bits f

[2016-11-07 06:42] Paril opened #257 "Proper interleave support with variable structure size"
Currently the structure size for interleaving is fixed size, and is huge as hell. In addition to #256 I'd like to allow the buffers to explicitly list what vertex elements are inside of the structure.

[2016-11-07 08:42] tapir commented on #192
I can't reproduce crash on fractures anymore. Yay :100:
If we get an extra confirmation we can close this.

[2016-11-07 18:12] Panjoo commented on #252
Hey nice going man, all is back to normal now and it feels like an improvement, fps-wise.
:+1:

[2016-11-07 19:38] Paril commented on #252
Still more improvements to go!

[2016-11-11 19:26] Panjoo commented on #252
Just noticed that my weapon glow skins don't want to show up anymore. Doing r_materials only enables/disables the texture effects in the map but not the skins, at least that's how it seems. Or maybe there's another cvar that I'm missing?

[2016-11-11 19:31] Paril commented on #252
I broke it in master but it is fixed in gl-types branch. It'll be merging soon.

[2016-11-12 02:34] jdolan commented on #251
Closing this one out for now. Other specific 60hz bugs can be reported separately.

[2016-11-12 02:34] #251 closed

[2016-11-12 03:12] jdolan commented on #256
Crash on first frame in OS X
<img width="1680" alt="screen shot 2016-11-11 at 10 11 19 pm" src="https://cloud.githubusercontent.com/assets/643118/20235284/dafb5ace-a85b-11e6-8a99-4b3f6e676c02.png">

[2016-11-12 04:00] jdolan commented on #256
All set. Feel free to close this and #257 if they're done :)

[2016-11-12 04:11] jdolan commented on #253
This is fixed in master. Nice one @Paril

[2016-11-12 04:12] jdolan commented on #252
I think we can close this out now. @Panjoo agree?

[2016-11-12 04:13] jdolan commented on #212
Kick angles were being normalized to +/- 180 multiple times, and I think that's what was causing this to mess up. I addressed that in updating the view kick to work at 60hz. I can't reproduce this anymore.

[2016-11-12 04:13] #212 closed

[2016-11-12 04:14] jdolan commented on #192
I'm closing this out for now. I think @Paril nailed it.

[2016-11-12 04:14] #192 closed

[2016-11-12 04:15] #105 closed

[2016-11-12 04:15] #46 closed

[2016-11-12 04:17] jdolan commented on #34
I don't think this is necessary for 1.0, but for some rainy day, this would be a nice feature to add to your particles system.

[2016-11-12 04:19] Paril commented on #253
This is actually still a problem, I didn't do this yet. Sorry! It's my next job :)

[2016-11-12 04:20] jdolan commented on #253
Oh, weird! I saw it this evening very plainly, and then could not reproduce it just now with your latest changes.

[2016-11-12 04:26] Paril commented on #253
It's -possible- that diffuse being uint16 fixes this indirectly, but I still want to be sure I introduce a way to disable atlasing in the case where the mipmapping fails like this down the road.

[2016-11-12 14:03] #252 closed

[2016-11-12 19:43] Panjoo commented on #252
@jdolan Yes Sir!

[2016-11-12 21:21] #256 closed

[2016-11-12 21:21] #257 closed

[2016-11-12 21:38] jdolan commented on #179
Closing this out for now. If new reports of the crash on start show up, we'll reopen.

[2016-11-12 21:38] #179 closed

[2016-11-12 22:00] jdolan commented on #237
The tricky part here is, in the shadow code, when a trace yields a shadow, you must mark the _renderer's_ copy of the impacted plane, so that the renderer can easily check the plane when drawing surfaces.

We currently do not have a `r_bsp_plane_t` type, but I would add one, that is essentially a `cm_bsp_plane_t` with a bit mask field for renderer state / flags such as this.

[2016-11-12 22:49] Panjoo opened #259 "Greater fog distance?"
@jdolan - I'm not exactly sure how quetoo is doing fog but can you increase the standard fog distance so that it becomes less opaque?

Increase it by, let's say 768 units or so? At the moment the only way to have some sort of control over the fog is by lowering the `r g b` values so it becomes darker in color, but that also makes the whole map darker and blurs out the textures.

---

I know that Q

[2016-11-12 22:51] jdolan commented on #259
@Paril Wanna take a crack at tuning the fog shader?

@Panjoo Paril and I have chatted about fog volumes, and have some ideas.. We'll take this into consideration when we get there :)

[2016-11-13 00:07] Paril commented on #259
Can always just add alpha to the color, or tunable start/end parameters.

[2016-11-13 14:12] jdolan commented on #259
I think adding RGBA support to the code without breaking any existing maps that specify fog as 3 component RGB would be great. That will get us by until we can tackle fog volumes.

[2016-11-13 20:55] kaadmy commented on #132
Any progress on this lately?

[2016-11-13 21:32] jdolan commented on #132
I did some work on Create Server a week or two ago. What remains is somehow handing off the map list the user has selected to the game module. I haven't decided how to do this yet.. Is this something you're interested on working on? It requires using Objectively/MVC.

[2016-11-13 21:43] Panjoo commented on #259
^What he said.
Does this mean that once this works you'd get 4 values, eg. 0.7 0.7 0.8 0.6(=60% opacity)?

[2016-11-13 21:53] kaadmy commented on #132
I could give this a try, but don't expect anything working from me :D

[2016-11-13 22:07] Paril commented on #259
Ye basically.

[2016-11-14 05:02] jdolan commented on #237
@Paril handing this one back to you. Now that the fix itself is in there, if you wanted to try optimizing stencil state management, be my guest. And if not, we can close this out.

[2016-11-14 06:10] Paril commented on #237
Old profile: http://i.imgur.com/UHpi2WB.png
New profile: http://i.imgur.com/4G4DCD5.png

R_Stencil ops are barely noticable now. I also get about 15-20 FPS improvement on wake. Nice!

[2016-11-14 06:10] #237 closed

[2016-11-14 06:10] #253 closed

[2016-11-14 06:10] Paril commented on #253
Fixed in latest commits.

[2016-11-14 07:14] Paril opened #261 "Ambient sounds ignore volume (?)"
Go to wake, turn volume and music off. Hear computers. Why computers, why.

[2016-11-14 07:20] WickedShell commented on #261
Can't reproduce here... Cvar file?

On Mon, Nov 14, 2016 at 12:14 AM, Paril <notifications@github.com> wrote:

[2016-11-14 07:21] Paril commented on #261
I'll play with it some more. I walked around to the big area that is worst on FPS to do some profiling, set s_music_volume to 0 and s_volume to 0, but ambient sounds (spceifically the Quake 1 beepy computer sound) was still going. s_ambient didn't seem to fix it, but I imagine s_restart would have.

[2016-11-14 07:33] WickedShell commented on #261
Did you s_restart? It's really annoying that is (was?) required?

On Mon, Nov 14, 2016 at 12:21 AM, Paril <notifications@github.com> wrote:

[2016-11-14 09:56] Paril opened #262 "Shadow flicker, regression in plane flag commit"
Commit bf8d5f86fc7f4a5aca91283d237fd12a58b92ed7 (issue #237 / #260) causes some nasty flickering of shadows. Not sure how I didn't notice it before. Appears on pretty much every map and in most locations - directly to the left of default spawn in edge, for instance.

[2016-11-14 13:06] jdolan commented on #262
Oh, I think I know what it is..

[2016-11-14 18:35] kaadmy commented on #132
After some cleanup, https://github.com/jdolan/quetoo/commit/ff3e9fd3fa86 should cover this issue, along with a new ingame material editor.

[2016-11-14 19:25] kaadmy commented on #225
Should the editor be implemented in cgame? It looks like it shouldn't be too hard to implement this for me..

*/me cringes*

[2016-11-14 19:34] jdolan commented on #225
No, it should be implemented in the game engine itself (src/client/ui/{views,viewcontrollers}. Currently, there is insufficient logic to manage both the engine and cgame view hierarchies, and so this will need to be added to ui_main.c. I don't think it's a big deal, but basically, a generic mechanism that "hides" the cgame's view hierarchy is required. When `cl_editor` is set, ui_main should skip

[2016-11-14 19:35] jdolan commented on #225
I could totally see the editor being a use case for JSON view binding, btw.

[2016-11-14 19:49] kaadmy commented on #225
Does the editor ONLY change `r_bumpmap`, `r_specular`, etc. or is it too custom to implement in JSON?

[2016-11-14 19:58] jdolan commented on #225
It doesn't change those cvars at all. It changes the material parameters for the material that is resolved by tracing through the crosshair. Here's the source to the old editor implementation:

https://github.com/jdolan/quetoo/blob/7c852d6b7a52fb0a62df01ef0823103dc9a04664/src/client/ui/ui_editor.c

[2016-11-14 19:59] jdolan commented on #225
And here's a video of it in action:
https://www.youtube.com/watch?v=oZ_sH0zcR_Y

[2016-11-14 20:30] kaadmy commented on #224
I think this can be closed now since there's a decent armor cap mechanic in place?

[2016-11-14 20:33] jdolan commented on #224
Yes, I see your commit from earlier. Nice!

[2016-11-14 20:33] #224 closed

[2016-11-14 20:49] jdolan commented on #261
Good catch, this is fixed.

[2016-11-14 20:49] #261 closed

[2016-11-14 20:51] kaadmy commented on #140
Shouldn't the userinfo just use the last available state instead of the default when recieving an invalid userinfo?

[2016-11-14 20:58] jdolan commented on #140
Oh. You think what's happening is that the client sends the server an invalid userinfo and they then become "newbie"? Maybe. This might not be directly from that, tho. There is some inconsistency at play here. It's very rare, and I have not seen it in some time. If you can run multiple instances of the client locally, I'd love to know if you can reproduce this.

[2016-11-14 21:15] kaadmy commented on #140
I haven't seen this for months either, should this just be closed until someone can reproduce it/find it?

[2016-11-14 21:20] jdolan commented on #140
Nah. Minor bug is the correct designation. If we don't see it again before 1.0, so be it.